.dipopup-overlay {
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.6);
  transition: 0.3s opacity, 0.3s visibility;
  visibility: hidden;
  opacity: 0;
}

.dipopup {
  position: fixed;
  z-index: 15;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: 0.3s opacity, 0.3s visibility;
  visibility: hidden;
  opacity: 0;
}

.dipopup-overlay.dipopup-overlay--visible,
.dipopup.dipopup--visible {
  visibility: visible;
  opacity: 1;
}

.dipopup .dipopup--close {
  --top: 10px;
  --right: 10px;
  --size: 18px;

  position: absolute;
  cursor: pointer;
  top: var(--top);
  right: var(--right);
  width: var(--size);
  height: var(--size);
}
