.comments-block {
    margin-top: 10px;
    padding: 10px;
    background: #ddd;
    border-radius: 10px;
}

/* rows */

.comments-block .comment-rows {

}

.comments-block .comment-rows .comment-row {
    padding: 10px 0;
    border-bottom: 1px dotted #777;
}

.comments-block .comment-rows .comment-row[data-level-num="1"] {
    margin-left: 25px;
}

.comments-block .comment-rows .comment-row[data-level-num="2"] {
    margin-left: 50px;
}

.comments-block .comment-rows .comment-row[data-level-num="3"] {
    margin-left: 75px;
}

.comments-block .comment-rows .comment-row[data-level-num="4"] {
    margin-left: 100px;
}

.comments-block .comment-rows .comment-row[data-level-num="5"] {
    margin-left: 125px;
}

.comments-block .comment-rows .comment-row[data-level-num="6"] {
    margin-left: 150px;
}

.comments-block .comment-rows .comment-row[data-level-num="7"] {
    margin-left: 175px;
}

.comments-block .comment-rows .comment-row[data-level-num="8"] {
    margin-left: 200px;
}

.comments-block .comment-rows .comment-row .timestamp {
    float: right;
}

.comments-block .comment-rows .comment-row .name {

}

.comments-block .comment-rows .comment-row .content {
    padding: 5px 0;
}

.comments-block .comment-rows .comment-row .actions {

}

.comments-block .comment-rows .comment-row .actions i {
    font-style: normal;
    border-bottom: 1px dashed #000;
    cursor: pointer;
}

/* form */

.comments-block .comments-form {
    width: 80%;
    position: relative;
    padding-top: 10px;
}

.comments-block .comments-form textarea {
    width: 100%;
}

.comments-block .comments-form .comment-submit-block {
    position: absolute;
    left: 100%;
    margin-left: 30px;
}

.comments-block .comments-form .comment-submit-block button {
    padding: 5px 15px;
}

/* loading */

.loading,
.loading-ico {
    background: url(/_core/i/ani/loading.gif) center center no-repeat;
}

.loading-ico {
    width: 32px;
    height: 32px;
    display: inline-block;
    visibility: hidden;
}

.comments-form .loading-ico {
    position: absolute;
    margin: 5px 0 0 0;
}

/* configuration */

.configuration div[data-tab] {
	margin: 0 24px;
}

.configuration .grid {
	border-collapse: collapse;
	width: 100%;
}

.configuration .grid tbody tr td {
	width: 50%;
	padding: 5px;
	border: 1px solid #fff;
	background: #dfdfd0;
	font-size: 12px;
}

.configuration .grid tbody tr td:first-child {
	text-align: right;
	vertical-align: top;
	padding-top: 8px;
}

.configuration .grid tbody tr:nth-child(even) td {
	background: #e7e7e0;
}

.configuration .grid tbody tr:hover td {
	background: #f3f3f3;
}

.configuration .grid tbody tr td input[type="text"],
.configuration .grid tbody tr td textarea {
	width: 90%;
}

.configuration .grid tbody tr td textarea {
	height: 90px;
}

.configuration .grid tbody tr td label {
	display: block;
}

.configuration .grid .file-info {
	background: rgba(255, 255, 255, .5);
	padding: 10px;
	text-align: center;
	margin-top: 5px;
}

.configuration .grid .uploaded-pic {
}

.configuration .grid .uploaded-pic img {
	max-width: 100%;
	max-height: 300px;
	cursor: zoom-in;
}

.configuration .grid .uploaded-pic.zoomed {
	width: 550px;
	overflow-x: auto;
}

.configuration .grid .uploaded-pic.zoomed img {
	max-width: none;
	max-height: none;
	cursor: zoom-out;
}

.db-errors-console {
	display: none;
	border: 1px solid #999;
	background: #ddc;
	padding: 10px;
	border-radius: 10px;
	text-align: left;
	margin: 20px;
}

table.db-list {
	margin: 15px 0;
	border-collapse: collapse;
}

table.db-list tbody tr td {
	padding: 10px 0;
	border: 1px solid #FFF;
	width: 350px;
	background: #DFDFD0;
	text-align: center;
	vertical-align: bottom;
}

.dump-settings {
	margin-bottom: 10px;
}

/* view sql */

[data-name="view-sql"] {
	left: 100px;
	right: 100px;
	top: 50px;
	bottom: 50px;
	margin: 0;
}

[data-name="view-sql"] .scroller {
	overflow: auto;
	height: 100%;
}

[data-name="view-sql"] code {
	white-space: pre;
}

/* db-dump-rows */

table.db-dump-rows {
	border-collapse: collapse;
}

table.db-dump-rows tbody tr td {
	text-align: left;
	padding: 5px;
	border: 1px solid #777;
	font-size: 12px;
}

table.db-dump-rows tbody tr:nth-child(even) td {
	background: #eee;
}

table.db-dump-rows tbody tr td small {
	font-size: 10px;
}

table.db-dump-rows tbody tr[data-format="gz"] td button[data-action="view"] {
	display: none;
}

table.db-dump-rows tbody[data-folder-id="2"] tr td button[data-action="delete"] {
    display: none;
}

table.db-dump-rows tbody tr.subfolder td,
table.db-dump-rows tbody[data-folder-id] tr:first-child td {
    background: #DFDFD0;
}

table.db-dump-rows tbody tr.subfolder td {
    padding-left: 20px;
}

/* upload */

iframe[name="upload_container"] {
	display: none;
}

table.actions-log {
    margin: 15px 0;
    padding: 0;
    border-collapse: collapse;
    width: 100%;
}

table.actions-log thead th {
    border: 0 !important;
    padding: 5px 10px !important;
    font-weight: bold !important;
}

table.actions-log tbody td {
    border: 1px solid #000;
    padding: 5px 10px;
    background: #eee;
    text-align: left;
}

table.actions-log tr:last-of-type td {
    /*
    font-weight: bold;
    */
    background: #ffd;
}

.filter-block {
    font-family: Verdana,sans-serif;
    color: #000;
    font-size: 11px;
    background-color: #fff;
    padding: 0 0 20px 24px;
    border-bottom: 1px solid #CCCCCC;
    margin-bottom: 20px;
}

.filter-block .buttons {
	padding: 10px 0 0 0;
}

.filter-block .buttons > * {
	vertical-align: top;
}

.filter-block .row {
    padding: 0 0 7px 0;
    margin: 0;
}

.filter-block .row > b {
    display: block;
    float: left;
    padding-top: 5px;
    width: 150px;
}

.filter-block button[name="export"] {
    margin-left: 30px;
}

.export-block {
    padding-top: 15px;
}

.export-block textarea {
    width: 90%;
    height: 150px;
}
/* filter-caption */

.filter-caption {
    font-weight: bold;
    font-size: 12px;
    background: #EDF0F4;
    border-radius: 10px;
    padding: 10px;
    text-align: center;
    margin: 0 0 10px 0;
}

ul.filters-of-cat {
    list-style: none;
    margin: 0;
    padding: 0;
}

ul.filters-of-cat li {
    float: left;
    margin: 0 20px 0 0;
    padding: 0;
}

/* upload area */

.filter-block .upload-area {
	display: inline-block;
	border-radius: 8px;
	background: red;
	position: relative;
	cursor: pointer;
}

.filter-block .upload-area .caption {
	color: white;
	line-height: 26px;
	background: none;
	margin: 0;
	padding: 0 15px;
	border-bottom: 0;
}

.filter-block .progress-box {
	display: inline-block;
}

.filter-block .progress-box .wrapper {
	padding-left: 40px;
	background: url(/_core/i/ani/loading.gif) left center no-repeat;
}

.filter-block .progress-box .name {
	width: 200px;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
	line-height: 16px;
}

.filter-block .progress-box .size {
	line-height: 16px;
	float: left;
	margin-right: 10px;
	background: #eee;
	border-radius: 5px;
	padding: 5px;
}

@-webkit-keyframes progress-bar-stripes {
	from {
		background-position: 40px 0;
	}
	to {
		background-position: 0 0;
	}
}

@-moz-keyframes progress-bar-stripes {
	from {
		background-position: 40px 0;
	}
	to {
		background-position: 0 0;
	}
}

@-o-keyframes progress-bar-stripes {
	from {
		background-position: 0 0;
	}
	to {
		background-position: 40px 0;
	}
}

@keyframes progress-bar-stripes {
	from {
		background-position: 40px 0;
	}
	to {
		background-position: 0 0;
	}
}

.progress {
	overflow: hidden;
	height: 20px;
	margin-bottom: 20px;
	background-color: #f5f5f5;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
	box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
}

.progress-bar {
	float: left;
	width: 0;
	height: 100%;
	font-size: 12px;
	color: #ffffff;
	text-align: center;
	background-color: #428bca;
	-webkit-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
	box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
	-webkit-transition: width 0.6s ease;
	transition: width 0.6s ease;
}

.progress-striped .progress-bar {
	background-image: -webkit-gradient(linear, 0 100%, 100% 0, color-stop(0.25, rgba(255, 255, 255, 0.15)), color-stop(0.25, transparent), color-stop(0.5, transparent), color-stop(0.5, rgba(255, 255, 255, 0.15)), color-stop(0.75, rgba(255, 255, 255, 0.15)), color-stop(0.75, transparent), to(transparent));
	background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
	background-image: -moz-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
	background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
	background-size: 40px 40px;
}

.progress.active .progress-bar {
	-webkit-animation: progress-bar-stripes 2s linear infinite;
	-moz-animation: progress-bar-stripes 2s linear infinite;
	-ms-animation: progress-bar-stripes 2s linear infinite;
	-o-animation: progress-bar-stripes 2s linear infinite;
	animation: progress-bar-stripes 2s linear infinite;
}

.progress-bar-success {
	background-color: #5cb85c;
}

.progress-striped .progress-bar-success {
	background-image: -webkit-gradient(linear, 0 100%, 100% 0, color-stop(0.25, rgba(255, 255, 255, 0.15)), color-stop(0.25, transparent), color-stop(0.5, transparent), color-stop(0.5, rgba(255, 255, 255, 0.15)), color-stop(0.75, rgba(255, 255, 255, 0.15)), color-stop(0.75, transparent), to(transparent));
	background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
	background-image: -moz-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
	background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
}

.progress-bar-info {
	background-color: #5bc0de;
}

.progress-striped .progress-bar-info {
	background-image: -webkit-gradient(linear, 0 100%, 100% 0, color-stop(0.25, rgba(255, 255, 255, 0.15)), color-stop(0.25, transparent), color-stop(0.5, transparent), color-stop(0.5, rgba(255, 255, 255, 0.15)), color-stop(0.75, rgba(255, 255, 255, 0.15)), color-stop(0.75, transparent), to(transparent));
	background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
	background-image: -moz-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
	background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
}

.progress-bar-warning {
	background-color: #f0ad4e;
}

.progress-striped .progress-bar-warning {
	background-image: -webkit-gradient(linear, 0 100%, 100% 0, color-stop(0.25, rgba(255, 255, 255, 0.15)), color-stop(0.25, transparent), color-stop(0.5, transparent), color-stop(0.5, rgba(255, 255, 255, 0.15)), color-stop(0.75, rgba(255, 255, 255, 0.15)), color-stop(0.75, transparent), to(transparent));
	background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
	background-image: -moz-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
	background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
}

.progress-bar-danger {
	background-color: #d9534f;
}

.progress-striped .progress-bar-danger {
	background-image: -webkit-gradient(linear, 0 100%, 100% 0, color-stop(0.25, rgba(255, 255, 255, 0.15)), color-stop(0.25, transparent), color-stop(0.5, transparent), color-stop(0.5, rgba(255, 255, 255, 0.15)), color-stop(0.75, rgba(255, 255, 255, 0.15)), color-stop(0.75, transparent), to(transparent));
	background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
	background-image: -moz-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
	background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
}

/* form rows */

.diadminform-row {
    border: 1px solid #CFCFCF;
    border-radius: 8px;
    background: #FAFAFA;
    color: #000;

    margin: 0 24px 3px 24px;
    padding: 8px 19px 8px 5px;
    min-height: 18px;

    display: flex;
    display: -webkit-box;
    display: -moz-flex;
    display: -ms-flexbox;
    display: box;
}

.diadminform-row .title,
.diadminform-row .value {
    /*
    display: inline-block;
    */
    font-family: Verdana, sans-serif;
    font-size: 12px;
    vertical-align: top;
}

.diadminform-row .title {
    display: block;
    width: 200px;
    padding: 3px 0 0 19px;
}

.diadminform-row .value {
    margin: 0 0 0 19px;
    width: 100%;

    -moz-box-flex: 1;
    -webkit-box-flex: 1;
    -ms-box-flex: 1;
    box-flex: 1;
}

@-moz-document url-prefix() {
    .diadminform-row .value {
        width: 90%;
    }
}

.diadminform-row .value .error {
    background: red;
    color: white;
    padding: 5px;
    border-radius: 5px;
    margin-bottom: 5px;
}

.diadminform-row[data-field="table"] .value .model-info {
	margin-left: 20px;
}

.diadminform-row[data-field="table"] .value .model-info i {
	background: #f00;
	color: #fff;
	display: inline-block;
	padding: 2px 5px;
	border-radius: 5px;
	font-style: normal;
}

.diadminform-row .value .static-text {
    padding: 10px;
    background: #ddd;
    margin: 5px 5px 5px 0;
    border-radius: 10px;
}

.diadminform-row .value .wysiwyg,
.diadminform-row .value .textarea{
    margin: 5px 0;
}

.diadminform-row .value .wysiwyg textarea {
    width: 99%;
    height: 450px;
}

.diadminform-row .value .textarea textarea {
    width: 99%;
    /*height: 200px; rows now used */
}

.diadminform-row .tags-grid {
    margin-bottom: 15px;
}

.diadminform-row .new-tag {
    margin: 0;
}

.diadminform-row .new-tag input[type="text"] {
    width: 100%;
}

.diadminform-separator {
    margin: 10px 24px 10px 24px;
    border-top: 1px dotted #000;
}

/* tabs */

.diadminform_tabs {
}

.diadminform_tabs ul {
    margin: 0 24px 5px 24px;
    list-style: none;
    padding: 0;
}

.diadminform_tabs ul li {
    display: inline-block;
    margin: 0 5px 5px 0;
}

.diadminform_tabs ul li:last-child {
    margin-left: 0;
}

.diadminform_tabs ul li a {
    display: block;
    position: relative;

    padding: 8px 10px;
    font-size: 12px;
    font-weight: bold;

    background: #fff;

    border: 1px solid #cfcfcf;
    -moz-border-radius: 8px;
    border-radius: 8px;

    z-index: 5;
}

.diadminform_tabs ul li a:hover {
    background: #EDF0F4;
}

.diadminform_tabs a.selected  {
    background-color: #edf0f4 !important;
}

/* existing pic */

.existing-pic-holder {
    display: inline-block;
    max-width: 96%;
    border: 1px solid #CFCFCF;
    padding: 10px;
    background: #fff;
    text-align: center;
    margin-bottom: 5px;

    border-radius: 8px;
}

@-moz-document url-prefix() {
    .existing-pic-holder {
        max-width: 90%;
    }
}

.existing-pic-holder .container {
    max-width: 100%;
    display: inline-block;
    overflow-x: auto;
    margin-bottom: 10px;
    box-shadow: 0 0 6px 0 rgba(0,0,0,.6);
}

.existing-pic-holder .container.embed {
    font-size: 0;
    line-height: 0;
    background: url(/_core/i/admin/background-for-transparent.gif) center center repeat;
}

.existing-pic-holder .container.text {
    font-size: 1.5em;
    padding: .5em 1.5em;
}

.existing-pic-holder a.link {
    display: block;
    background: #eee;
    padding: 5px 10px;
    border-radius: 5px 5px 0 0;
    border-bottom: 1px dotted #999;
}

.existing-pic-holder .info {
    margin: 0;
    padding: 5px 10px;
    background: #ddd;
}

.existing-pic-holder .info:not(:last-child) {
    border-bottom: 1px dotted #999;
}

.existing-pic-holder .info:last-child {
    border-radius: 0 0 5px 5px;
}

/* table-edit-log */

ul.table-edit-log {
	list-style: none;
	margin: 0;
	padding: 0;
}

ul.table-edit-log > li {
	border-radius: 5px;
	padding: 5px;
	box-shadow: 0 0 5px rgba(0,0,0,.7);
}

ul.table-edit-log > li:nth-child(even) {
	background-color: #eee;
}

ul.table-edit-log > li:not(:last-child) {
	margin-bottom: 10px;
}

ul.table-edit-log > li > .author {
    padding: 10px;
    border-bottom: 1px dotted #777;
}

ul.table-edit-log > li > .author b {

}

ul.table-edit-log > li > .author i {

}

ul.table-edit-log > li > table {
	width: 100%;
	border-collapse: collapse;
}

ul.table-edit-log > li > table td {
	width: 33.3%;
	padding: 5px 10px;
	border: 1px solid #aaa;
}

ul.table-edit-log > li > table td:nth-child(2) {
	width: auto;
}

.dicalendar {
display: none;
position: absolute;
z-index: 997;
background: #fff;
border: 1px outset #ccc;
padding: 2px;
}

.dicalendar:hover {
}

.dicalendar p {
float: left;
margin: 0;
padding: 0;
line-height: 100%;
}

.dicalendar .first_month {
margin-left: 0;
float: left;
}

.dicalendar .center_month {
margin-left: 20px;
float: left;
}

.dicalendar .last_month {
margin-left: 20px;
float: left;
}

.dicalendar div b {
display: block;
color: #37424d;
font: 14pt normal Tahoma;
font-family: Tahoma, Geneva, sans-serif;
padding: 0 0 12px 0;
text-align: center;
}

.dicalendar table.dimonth {
border-collapse: collapse;
}

.dicalendar table.dimonth tr td {
border: 1px solid #E5E8EC;
background: #fff;
padding: 2px 7px;
cursor: pointer;
}

.dicalendar table.dimonth tr td.weekend {
color: #B40000;
}

.dicalendar table.dimonth tr td.empty {
cursor: default;
}

.dicalendar table.dimonth tr td.past {
/*
cursor: default;
*/
color: #B9BEC3;
}

.dicalendar table.dimonth tr td.past_weekend {
/*
cursor: default;
*/
color: #EB9898;
}

.dicalendar table.dimonth tr td.selected {
color: #fff;
background: #37424D;
}

.dicalendar table.dimonth tr td.selected_weekend {
color: #fff;
background: #B40000;
}

.dicalendar table.dimonth tr td.selected_past {
color: #fff;
background: #687583;
}

.dicalendar table.dimonth tr td.selected_past_weekend {
color: #fff;
background: #EB9898;
}

.dicalendar table.dimonth tr td:hover {
background: #eee;
}

.dicalendar table.dimonth tr td.past:hover {
background: #fff;
}

.dicalendar table.dimonth tr td.past_weekend:hover {
background: #fff;
}

.dicalendar table.dimonth tr td.selected:hover {
background: #57626D;
}

.dicalendar table.dimonth tr td.selected_weekend:hover {
background: #D40000;
}

.dicalendar table.dimonth tr.head td {
background: #687583;
color: #fff;
cursor: default;
}

.dicalendar table.dimonth tr.head td.weekend {
background: #EB9898;
}

.dicalendar p.prev-active {
background: #ccc;
padding: 5px;
margin-right: 12px;
cursor: pointer;
}

.dicalendar p.prev-active:hover {
background: #ddd;
}

.dicalendar p.prev-inactive {
border: 1px solid #000;
padding: 5px;
margin-right: 12px;
color: #999;
}

.dicalendar p.next-active {
background: #ccc;
padding: 5px;
margin-left: 12px;
cursor: pointer;
}

.dicalendar p.next-active:hover {
background: #ddd;
}

.dicalendar p.next-inactive {
border: 1px solid #000;
padding: 5px;
margin-left: 12px;
color: #999;
}

.dicalendar p.dic-close {
    background: url(/_core/i/dicalendar/close.png) 0 0 no-repeat;
width: 18px;
height: 18px;
margin-left: 14px;
margin-top: 3px;
cursor: pointer;
position: relative;
}

.dicalendar p.dic-close:hover {
background-position: 0 -18px;
}

.dicalendar p.dic-clear {
border: 1px solid #000;
padding: 5px;
background: #fff;
cursor: pointer;
}

.dicalendar p.dic-clear:hover {
background: #ddd;
}

div.dicalendar-prompt-for-idx {
position: absolute;
z-index: 999;
display: none;

filter:progid:DXImageTransform.Microsoft.Alpha(opacity=80); /* IE 5.5+*/
-moz-opacity: 0.8; /* Mozilla 1.6-- */
-khtml-opacity: 0.8; /* Konqueror 3.1, Safari 1.1 */
opacity: 0.8; /* CSS3 - Mozilla 1.7b +, Firefox 0.9 +, Safari 1.2+, Opera 9 */
}

div.dicalendar-prompt-for-idx div {
background: #fff;
padding: 3px 5px;
cursor: pointer;
}

div.dicalendar-prompt-for-idx div:hover {
background: #ddd;
}

/* dynamic pics/files */

.dynamic-add {
    margin: 10px 0 5px 0;
}

.dynamic-row {
    margin: 0 0 5px 0;
    border: 1px solid #aaa;
    padding: 10px;
    border-radius: 10px;
}

.dynamic-row:hover {
    background: #ffe;
}

.dynamic-row div.m {
    margin: 10px 0;
}

.dynamic-row .remove {
    float: right;
}

.dynamic-row .diaf_clear {
    clear: right;
}

/* lines inside dynamic rows */

.dynamic-row ul.line {
    margin: 0;
    padding: 0;
    list-style: none;
}

.dynamic-row ul.line li {
    display: inline-block;
    margin: 5px 15px 5px 0;
}

.dynamic-row ul.line li:last-child {
    margin-right: 0;
}

.dynamic-row ul.line li.full-width {
    display: block;
}

.dynamic-row ul.line li.full-width textarea,
.dynamic-row ul.line li.full-width input {
    width: 90%;
}

/* dinicetable */

div.dinicetable_div {
margin: 0 24px 20px 24px;
}

table.dinicetable {
/*
width: 100%;
*width: 95%;
*/
border-collapse: collapse;
}

table.dinicetable tr.collapsed {
	display: none;
}

table.dinicetable tr td {
border: 0;
border-right: 1px #fff solid;
border-bottom: 1px #fff solid;
font-family: Tahoma,sans-serif;
color: #000;
font-size: 12px;
background: #dfdfd0;
font-weight: normal;
padding: 0 5px;
vertical-align: middle;
    height: 28px;
}

table.dinicetable tr.headline td {
background-color: #fff;
font-weight: bold;
padding: 0 5px 5px 5px;
text-align: center;
}

table.dinicetable tr.level1 td {
font-weight: bold;
}

table.dinicetable tr.level2 td {
background: #dfe0e5;
font-weight: bold;
padding-left: 20px;
}

table.dinicetable tr.level3 td {
color: #333;
background: #dddde7;
padding-left: 35px;
}

table.dinicetable tr.level4 td {
color: #333;
font-size: 11px;
background: #dfdfda;
padding-left: 50px;
}

table.dinicetable tr.level5 td {
color: #333;
font-size: 11px;
background: #dfdfda;
padding-left: 65px;
}

table.dinicetable tr.level6 td {
color: #333;
font-size: 10px;
background: #eee;
padding-left: 80px;
}

table.dinicetable tr.delete td {
    background-color: #fbb !important;
}

table.dinicetable tr.highlight td {
    background-color: #ffd !important;
}

table.dinicetable tr td:not([data-field="title"]) {
    padding-left: 5px;
}

table.dinicetable tr td.id {
	position: relative;
	font-size: 11px !important;
	background: #d4d0c8 !important;
	font-weight: normal;
	text-align: center;
	white-space: nowrap;
	padding: 0 5px;
}

table.dinicetable tr td.href {
text-align: center;
padding: 0 5px;
}

table.dinicetable tr td.btn {
    border-right: 0;
    padding: 0;
}

table.dinicetable tr td.btn a {
    display: block;
    line-height: 2px;
}

table.dinicetable tr:hover>td {
background: #f3f3f3;
}

table.dinicetable tr.no-hover:hover>td {
background: #dfdfd0;
}

table.dinicetable tr.headline:hover>td {
background: #fff;
}

table.dinicetable tr td .lite {
font-weight: normal;
font-size: 11px;
}

table.dinicetable tr td .dt {
font-weight: normal;
font-size: 11px;
text-align: center;
}

table.dinicetable tr.del td {
background: #faa !important;
}

table.dinicetable tr td.color-tn {
    text-align: center;
}

table.dinicetable tr td.color-tn > div {
    display: inline-block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: transparent center center no-repeat;
    background-size: cover;
}

table.dinicetable tr td.color-tn > div:not(:first-child) {
    margin-left: 10px;
}

/* parent anchor */

.dinicetable_div .parent-anchor {
	position: absolute;
	cursor: pointer;
	font-size: 24px;
	font-weight: bold;
	color: white;
	background: #7601AC;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	text-align: center;
	vertical-align: middle;
	display: table-cell;
}

.dinicetable_div .parent-anchor:hover {
	background: red;
}

.dinicetable_div > .outer-anchor {
	display: inline-block;
	width: 30px;
	height: 32px;
	position: relative;
}

/* expande/collapse */

table.dinicetable tr td .tree {
	display: inline-block;
	width: 10px;
	height: 10px;
	cursor: pointer;
}

table.dinicetable tr td .tree.expand {
	background: url(/_core/i/admin/buttons/key_plus_small.gif);
}

table.dinicetable tr td .tree.collapse {
	background: url(/_core/i/admin/buttons/key_minus_small.gif);
}

/* nicetable-text-over-btn */

.nicetable-text-over-btn {
    position: absolute;
    background: rgba(255,0,0,.7);
    color: #fff;
    font-weight: normal;
    font-size: 11px;
    padding: 2px;
    border-radius: 8px;
}

ul.admin-grid {
	list-style: none;
	margin: 0 24px 20px 24px;
	padding: 0;
}

ul.admin-grid li {
	display: inline-block;
	background: #DFDFD0;
	padding: 10px;
	border-radius: 10px;
	width: 24%;
	margin-right: 1%;
	box-sizing: border-box;
	vertical-align: top;
	text-align: center;
	margin-bottom: 15px;
}

ul.admin-grid li.highlight {
	background-color: #ffd;
}

ul.admin-grid li .buttons-panel {
	margin: 10px 0 0 0;
}

ul.admin-grid li .nicetable-button[data-action="up"],
ul.admin-grid li .nicetable-button[data-action="down"]{
	transform: rotate(-90deg);
}

ul.admin-grid li img {
	max-width: 100%;
}

body {
    background: #fff;
    font-family: Tahoma, Verdana, Segoe, sans-serif;
    font-size: 14px;
    color: #000;
}

form {
    margin: 0;
    padding: 0;
}

a {
    color: #9601DA;
}

a:hover {
    text-decoration: none;
}

.logo {
    font-size: 50px;
    line-height: 100px;
    text-align: center;
}

.logo i {
    font-style: normal;
    color: #7601AC;
}

.logo b {
    font-weight: 600;
}

.description {
    text-align: center;
    font-size: 20px;
}

.login-form {
    position: relative;
    box-sizing: border-box;
    left: 50%;
    margin-left: -220px;
    width: 440px;
    background: #E5E5E5;
    border-radius: 20px;
    margin-top: 50px;
    padding: 20px;
}

.login-form > div:not(:first-child) {
    margin-top: 15px;
}

.login-form input[type="text"],
.login-form input[type="email"],
.login-form input[type="password"] {
	box-sizing: border-box;
    width: 100%;
    height: 42px;
    background: #fff;
    border: 0;
    border-radius: 10px;
    padding: 0 15px;
    font-family: Tahoma, Verdana, Segoe, sans-serif;
    font-size: 24px;
    color: #000;
    outline: none;
}

.login-form label {
    font-size: 14px;
}

.login-form button {
    background-color: #9600DB;
    border-radius: 10px;
    width: 100%;
    padding: 0;
	border: 0;
    font-family: Tahoma, Verdana, Segoe, sans-serif;
    font-size: 24px;
    color: #fff;
    height: 42px;
    cursor: pointer;
    outline: none;
	transition: background-color .5s ease;
}

.login-form button:hover {
    background-color: #FF0000;
}

.forgotten {
    margin: 10px 0 0 0;
    text-align: right;
}

.forgotten a {
    text-decoration: underline;
    font-size: 11px;
    color: #000;
}

.contacts {
    text-align: center;
    margin-top: 50px;
    font-size: 16px;
}

.to-home {
	text-align: center;
	margin-top: 50px;
	font-size: 16px;
}

.to-home a {
	display: inline-block;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	padding: 10px 50px;
	text-decoration: none;
	box-sizing: border-box;
	background-color: #E5E5E5;
	transition: background-color .5s ease, color .5s ease;
}

.to-home a:hover {
	color: #f00;
	background-color: #ddd;
}

@media screen and (orientation:landscape) and (max-width:1281px) {
	.logo {
		font-size: 30px;
		line-height: 40px;
	}

	.description {
		font-size: 16px;
	}

    .login-form {
	    margin-top: 10px;
    }

	.login-form input[type="text"],
	.login-form input[type="email"],
	.login-form input[type="password"],
	.login-form button {
		height: 32px;
		font-size: 20px;
	}
}

/* left-menu */

.above_lm {
	background: #fff;
	padding: 14px 0 14px 22px;
	font-family: Tahoma, sans-serif;
	color: #000;
	font-size: 12px;
	font-weight: bold;
	border-bottom: 1px solid #CCCCCC;
	margin-bottom: 0;
	text-transform: uppercase;
}

ul.left-menu {
	list-style: none;
	margin: 0;
	padding: 0;
}

ul.left-menu > li {
}

ul.left-menu > li > b {
	display: block;
	padding: 7px 7px 7px 20px;
	background-color: #edf0f4;
	border-bottom: 1px solid #cfcfcf;
	font: bold 12px/18px Tahoma, sans-serif;
	color: #444;
	cursor: pointer;
	width: 173px;
	text-transform: uppercase;
}

ul.left-menu > li > b:hover {
    background-color: #dde5e5;
}

ul.left-menu > li > ul {
	list-style: none;
	margin: 0;
	padding: 0;
    border-bottom: 1px solid #cfcfcf;
}

ul.left-menu > li[state="0"] > ul {
	display: none;
}

ul.left-menu > li > ul > li {
	border-bottom: 0px solid #edf0f4;
	font: normal 11px/11px Verdana, sans-serif;
	color: #0059B2;
}

ul.left-menu > li > ul > li a {
	text-decoration: none;
	color: #7600AD;
	display: block;
	background: #ffffff;
	padding: 7px 7px 7px 28px;
}

ul.left-menu > li > ul > li a:hover {
	color: #FF0000;
	background: #f7f7f7;
}

body {
	background: #fff;
	margin: 0;
	padding: 0;
}

body, table, li {
	font-family: Verdana,sans-serif;
	color: #000;
	font-size: 11px;
	font-weight: normal;
	margin: 0;
}

table {
	border-collapse: collapse;
}

a {
	text-decoration: none;
	color: #7601AC;
}

a:hover {
	text-decoration: none;
	color: #FF0000;
}

p {
	margin: 9px 0;
}

form {
	margin: 0;
}

img {
	border: 0;
}

u {
	cursor: pointer;
	text-decoration: underline;
}

u:hover {
	text-decoration: none;
}

._up {
	text-transform: uppercase !important;
}

._lo {
	text-transform: lowercase !important;
}

.dt {
    font-weight: normal !important;
    font-size: 11px !important;
    text-align: center !important;
}

.lite {
    font-weight: normal !important;
    font-size: 11px !important;
}

.bold {
	font-weight: bold;
}

.italic {
	font-style: italic;
}

.regular {
    font-weight: normal !important;
}

.center {
    text-align: center;
}

.border-rounded {
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    -khtml-border-radius: 8px;
    border-radius: 8px;
}

.display-none {
    display: none !important;
}

.hidden {
	visibility: hidden !important;
}

.no-padding {
    padding: 0 !important;
}

/* close */

.close {
    display: block;
    float: right;
    margin: 5px 5px 0 0;
    width: 18px;
    height: 18px;
    background: url(/_core/i/admin/buttons/close.png) 0 0 no-repeat;
}

.close:hover {
    background-position: 0 -18px;
}

/*

    base

*/

.admin-layout {
    padding-bottom: 40px; /* for footer */
}

.admin-layout > .nav {
	float: left;
	border-right: #ccc solid 1px;
}

.admin-layout > .content {
	background: #fff;
	position: relative;
	margin-left: 201px;
    padding-bottom: 20px;
}

.admin-layout > .content:after {
	content: "";
	display: block;
	clear: both;
}

/* head */

.admin-layout > .head-auth-info {
    height: 25px;
    line-height: 25px;
    background: #777;
    position: absolute;
    right: 0;
    top: 36px;
    width: 271px;
    padding: 5px;
    text-align: center;
    color: #ffd;
    font-size: 12px;
}

.admin-layout > .head-auth-info i {
    display: inline-block;
    font-size: 10px;
    line-height: 15px;
    font-style: normal;
    background: #555;
    padding: 1px 4px;
    border-radius: 4px;
    position: relative;
    top: -1px;
    margin-left: 4px;
}

.admin-layout > .head-href {
    line-height: 35px;
    padding: 0 20px;
    background: #555;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    width: 100px;
    position: absolute;
    top: 0;
    right: 0;
    text-align: center;

    -webkit-transition: background 500ms linear,color 500ms linear;
    -moz-transition: background 500ms linear,color 500ms linear;
    -o-transition: background 500ms linear,color 500ms linear;
    -ms-transition: background 500ms linear,color 500ms linear;
    transition: background 500ms linear,color 500ms linear;
}

.admin-layout > .head-href:hover {
    background: #777;
    /*
    color: #000;
    */
    color: #fff;
}

.admin-layout > .head-href.go-to-face {
    right: 141px;
}

.admin-layout > .head-href.logout {
}

.admin-layout > .logo {
    background: #7601AC;
    font-family: Tahoma, Verdana, Segoe, sans-serif;
    position: absolute;
    color: #fff;
    font-size: 30px;
    text-align: center;
    line-height: 71px;
    width: 200px;
    height: 71px;
}

.admin-layout > .site-title {
    background: #333;
    color: #fff;
    line-height: 71px;
    height: 71px;
    font-size: 24px;
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 227px;
}

/* footer */

.footer {
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	height: 40px;
	border-top: 1px solid #B1B1B1;
	color: #000;
	font-size: 11px;
	background-color: #ddd;
	line-height: 40px;
}

.footer .copyright {
	width: 200px;
    height: 35px;
    padding-top: 5px;
	float: left;
	border-right: 1px solid #B1B1B1;
	text-align: center;
    line-height: 150%;
}

/* console */

.footer .console-container {
	margin-left: 201px;
    background-color: inherit;
    padding: 5px 0 5px 50px;
    height: 30px;

    -webkit-transition: background-color 1000ms linear;
    -moz-transition: background-color 1000ms linear;
    -o-transition: background-color 1000ms linear;
    -ms-transition: background-color 1000ms linear;
    transition: background-color 1000ms linear;
}

.footer .console-container.highlighted {
    background-color: #ffe;
}

.footer .console-container .console {
    height: 30px;
    overflow: hidden;
}

.footer .console-container .console > div {
    line-height: 15px;
}

.footer .console-container .console > div > i {
    font-style: normal;
    margin-right: 15px;
    display: inline-block;
    color: #777;
}

.footer .console-container:not(.navy-needed) .up,
.footer .console-container:not(.navy-needed) .down {
    display: none;
}

.footer .console-container .up,
.footer .console-container .down {
    cursor: pointer;
    position: absolute;
    display: block;
    text-align: center;
    width: 15px;
    height: 15px;
    line-height: 15px;
    transition: all 500ms ease;
    background: #eee;
    margin-top: -1px;
    margin-left: -30px;
}

.footer .console-container .up:hover,
.footer .console-container .down:hover {
    box-shadow: 0 0 2px #000;
}

.footer .console-container .down {
    margin-top: 16px;
}

/* buttons */

button {
    font-family: Verdana, sans-serif;
    font-size: 14px;
    font-weight: normal;
    background: #fff;
    color: #000;
    border: 1px solid #B2B2B2;
    border-top-color: #000;
    border-left-color: #000;

    -moz-border-radius: 8px;
    border-radius: 8px;

    cursor: pointer;
    outline: none;
}

button:hover {
	background: #A1DFFF;
}

.mce-tinymce button {
    border-radius: 0;
}

button.blue {
    background: #0000CC;
    padding: 7px 10px;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
    font-weight: bold;
    border: 0;
}

button.blue:hover {
    background: #FF0000;
}

.violet {
    background: #9600DB;
    border: 0;
    padding: 7px 10px;
    font-family: Arial;
    font-size: 11px;
    color: #fff;
    vertical-align: middle;
    font-weight: bold;
}

.violet:hover {
    background: #FF0000;
}

.gray {
    background: #848484;
    border: 0;
    padding: 7px 10px;
    font-family: Arial;
    font-size: 11px;
    color: #fff;
    vertical-align: middle;
    font-weight: bold;
}

.gray:hover {
    background: #FF0000;
}

.violet2 {
    background: #9600DB;
    border: 0;
    padding: 7px 10px;
    font-family: Arial;
    font-size: 14px;
    color: #fff;
    vertical-align: middle;
    font-weight: bold;
}

.violet2:hover {
    background: #FF0000;
}

.gray2 {
    background: #848484;
    border: 0;
    padding: 7px 10px;
    font-family: Arial;
    font-size: 14px;
    color: #fff;
    vertical-align: middle;
    font-weight: bold;
}

.gray2:hover {
    background: #FF0000;
}

/* inputs */

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="number"],
input[type="password"],
textarea {
	font-family: Verdana,sans-serif;
	font-size: 14px;
	font-weight: normal;
	background-color: #fff;
	color: #000;
	border: 1px solid #B2B2B2;
	padding: 2px 5px;
	border-radius: 4px;
}

textarea {
	padding-top: 5px;
	padding-bottom: 5px;
}

/* tags table */

table.tags-table {
	border: 0;
	border-collapse: collapse;
	margin: 0;
}

table.tags-table td {
	padding-right: 20px;
	vertical-align: top;
	border: 0;
}

/* banners_stat */

table.banners_stat {
padding: 0;
border-collapse: collapse;
width: 94%;
margin: 20px 3% 0 3%;
}

table.banners_stat td {
border: 1px solid #000;
padding: 5px;
background: #eee;
text-align: right;
font-size: 14px;
}

table.banners_stat td.b {
text-align: left;
}

table.banners_stat tr.n2 td {
background: #ddd;
}

table.banners_stat th {
border: 1px solid #000;
padding: 5px;
background: #D4D0C8;
text-align: center;
font-size: 14px;
}

table.banners_stat td.sel,table.banners_stat th.sel {
background: #ffd;
}


table.banners_stat table.sub_stat {
margin: 0;
padding: 0;
border-collapse: collapse;
width: 100%;
}

.caution {
padding: 10px;
font-family: Tahoma,sans-serif;
color: #000;
font-size: 12px;
font-weight: bold;
border: 1px solid #f00;
background: #fee;
margin: 15px;
text-align: center;
}

/* colors */

.color-popup {
position: absolute;
padding: 10px;
background: #fff;
border: 1px solid #777;
display: none;
}

table.item-colors-table {
border-collapse: collapse;
}

table.item-colors-table td {
text-align: center;
border: 1px solid #ccc;
padding: 5px;
margin-right: 5px;
}

table.item-colors-table td label {
cursor: pointer;
}

.buttons_block {
text-align: left;
padding: 25px 0 25px 22px;
border-top: 1px solid #CCCCCC;
border-bottom: 1px solid #CCCCCC;
margin: 50px 0;
}

.details_block {
background-color:#D4D0C8;
padding: 5px;
}

.details_block > table > tbody > tr > td {
	vertical-align: top;
}

/* video */

a.video-tn {
display: block;
position: absolute;
z-index: 99;
}

img.video {
position: absolute;
z-index: 98;
margin: -4px 0 0 -4px;
}

/* cover pic */

table.cover_pic_select {
margin: 5px 0;
border-collapse: collapse;
display: none;
}

table.cover_pic_select td {
vertical-align: top;
text-align: left;
border: 0;
padding: 0 20px 10px 0;
}

table.cover_pic_select img {
border: 4px solid transparent;
padding: 5px;
background: none;
}

table.cover_video_select img {
padding: 0 !important;
}

table.cover_video_select a.cover_pic_selected img {
background: none !important;
padding: 0 !important;
}

a.cover_pic_selected {
}

a.cover_pic_selected img {
border: 4px solid #f00;
padding: 5px;
background: #f77;
}

table.cover_pic_select td .cover-note {
position: absolute;
text-align: center;
padding-top: 10px;
}

/* form submit block */

#btn-save {
	font-weight: bold;
}

.submit-block {
	border: 1px solid #CFCFCF;
	margin: 10px 24px 3px 24px;
	background: #edf0f4;
	text-align: center;
	padding: 10px 0 10px 0;

	-moz-border-radius: 8px;
	border-radius: 8px;
}

.submit-block button {
	margin: 0 10px;
	padding: 5px 10px;
	cursor: pointer;
}

.submit-block button:hover {
	background: #A1DFFF;
}

.submit-status-line {
	height: 20px;
	background: #edf0f4;
	margin-top: 10px;
	border-top: 1px solid #CFCFCF;
	padding-top: 5px;
	font-style: italic;
}

.save_frame {
	display: none;
}

/* forms block */

.new_admin_block {
padding: 0 0 20px 0;
}

.admin_help_link img {
border: none;
float: right;
margin: 0 5px 0 0;
}

.bg_eee {
background: #eee;
}

.w_hover:hover {
background: #A1DFFF;
}

/* controls */

.list-control-panel {
	padding: 10px;
	border-radius: 10px;
	background: #D4D0C8;
	margin: 0 24px 20px 24px;
	min-height: 22px;
}

.list-control-panel > ul {
	position: fixed;
	top: 0;
	left: 50%;
	list-style: none;
	margin: 0 0 0 -100px;
	padding: 10px;
	border-radius: 0 0 10px 10px;
	background: #D4D0C8;
	z-index: 500;
	display: none;
	box-shadow: 0 0 5px black;
}

.list-control-panel > ul li {
	display: inline-block;
	vertical-align: top;
	font-size: 14px;
	font-weight: bold;
}

.list-control-panel .toggle-all {
	float: left;
	padding-right: 50px;
	line-height: 22px;
}

.list-control-panel .toggle-all input[type="checkbox"] {
	position: relative;
	top: 2px;
	margin-right: 5px;
}

.list-control-panel .toggle-all label {
	cursor: pointer;
}

.list-control-panel .notes {
	font-size: 11px;
	line-height: 22px;
}

/* list control panel settings */

.list-control-panel[data-table="feedback"] ul li[data-purpose="move"],
.list-control-panel[data-table="feedback"] ul li[data-purpose="copy"] {
	display: none;
}

.list-control-panel[data-table="feedback"] .notes {
	visibility: hidden;
}
/* expand-collapse-block */

.expand-collapse-block {
	float: right;
	padding: 10px 25px 0 10px;
}

.expand-collapse-block u {
	display: inline-block;
	width: 18px;
	height: 18px;
	cursor: pointer;
	margin-left: 5px;
}

.expand-collapse-block u[data-action="expand"] {
	background: url(/_core/i/admin/buttons/key_plus.gif) 0 0 no-repeat;
}

.expand-collapse-block u[data-action="collapse"] {
	background: url(/_core/i/admin/buttons/key_minus.gif) 0 0 no-repeat;
}

/*

    comments

*/

iframe.comments-iframe {
display: block;
position: absolute;
border: 2px dashed #333;
left: 0;
top: 0;
z-index: 9;
margin-left: 200px;
width: 900px;
height: 300px;
overflow: auto;
}

a.comments-close {
display: block;
position: absolute;
border: 1px solid #D4D0C8;
background: #333;
color: #fff;
left: 0;
top: 0;
z-index: 10;
margin-left: 1100px;
width: 20px;
height: 20px;
text-align: center;
font-weight: bold;
font-size: 17px;
}

a.comments-close:hover {
background: #B4B0A8;
}

/* type_id_err_bottom_div */

#type_id_err_bottom_div {
background: #f00;
color: #fff;
padding: 3px 10px;
position: absolute;
margin: 0 20px;
display: none;
width: 200px;
}

/* navy */

.navy {
text-align: center;
}

.navy a,.navy b,.navy span {
display: inline-block;
padding: 3px 8px;
font-size: 12px;
margin: 0 5px;
border: 1px dotted #aaa;
}

.navy a {
background: #fff;
}

.navy a:hover {
background: #eee;
border: 1px solid #aaa;
}

/* cb_level */

.cb_level_any {
margin: 5px 5px 5px 0;
}

.cb_level0 {
font-weight: bold;
}

.cb_level1 {
padding-left: 10px;
}

.cb_level2 {
padding-left: 20px;
}

.cb_level3 {
padding-left: 30px;
}

/* evil */

.evil {
background: #fcc;
padding: 3px;
}

.show-actions-log {
cursor: pointer;
text-decoration: underline;
}

/* diaf_checkboxes_block */

.diaf_checkboxes_block {
display: none;
position: absolute;
border: 1px solid #777;
border-radius: 5px;
padding: 10px;
margin-top: 3px;
background: #fff;
}

.diaf_checkboxes_block button {
margin: 5px 10px;
}

.diaf_checkboxes_block button:hover {
background: #A1DFFF;
}

/* notice */

.notice {
background: #dd7 !important;
}

/* payments */

.payment-success,.payment-insuccess {
padding: 0 4px;
border-radius: 4px;
}

.payment-success:hover,.payment-insuccess:hover {
color: #fff;
}

.payment-success {
color: #fff;
background: #0a0;
}

.payment-insuccess {
color: #fff;
background: #a00;
}

/**/

.multicolumn {
/*
width: 760px;
margin-bottom:20px;
*/
overflow: hidden;
/*
border-top:1px solid #ccc;
*/
margin: 0;
padding: 0;
}

.multicolumn li {
line-height:1.5em;
/*
border-bottom:1px solid #ccc;
*/
padding: 0;
margin: 0;
float: left;
display: inline;
}

.double li { width: 50%;}
.triple li { width: 33.333%; }
.quadro li { width: 25%; }
.penta li { width: 20%; }
.hexta li { width: 16.666%; }

div.code {
	padding: 10px;
	border-radius: 5px;
	border: 1px solid #ccc;
	background: #eee;
}

code, samp, kbd {
	font-family: "Courier New", Courier, monospace, sans-serif;
	text-align: left;
	color: #555;
}

pre code {
	line-height: 1.6em;
	font-size: 13px;
}

pre {
	padding: 0.1em 0.5em 0.3em 0.7em;
	border-left: 11px solid #ccc;
	margin: 1.7em 0 1.7em 0.3em;
	overflow: auto;
	width: 93%;
}

pre.code {
	background: #ffe;
}

pre.code code {
	color: black;
}

/* dyn-cell */

.dyn-cell {
float: left;
background: #fff;
margin-right: 10px;
}

.dyn-cell:nth-child(even) {
}

.dyn-cell:last-child {
margin-right: 0;
background: #ff0 !important;
}

.clear {
    clear: both;
}

/* color-view */

[data-purpose="color-view"] {
    display: inline-block;
	width: 30px;
	height: 30px;
	cursor: pointer;
    box-shadow: 0 0 10px rgba(0,0,0,1);
	vertical-align: middle;
}

[data-purpose="color-picker"] {
	display: none;
}

.dynamic-row [data-purpose="color-picker"] {
	position: absolute;
}

/* caption */

.caption {
	padding: 14px 24px;
	font-family: Tahoma,sans-serif;
	font-size: 12px;
	background: #fff;
	border-bottom: 1px solid #CCCCCC;
	margin-bottom: 20px;
}

.caption b {
	text-transform: uppercase;
}

.caption a {
}

.caption .buttons {
	padding: 0 0 0 30px;
}

/* admin tasks */

.admin-task-priority {
    display: inline-block;
    border-radius: 50%;
    width: 12px;
    height: 12px;
    margin-right: 6px;
    float: left;
}

.admin-task-priority.p1 {
    background-color: #4E7235;
}

.admin-task-priority.p10 {
    background-color: #72C43A;
}

.admin-task-priority.p20 {
    background-color: #FFFF00;
}

.admin-task-priority.p30 {
    background-color: #EB2121;
}

/* diff */

ins {
	color: green;
	background: #dfd;
	text-decoration: none;
}
del {
	color: red;
	background: #fdd;
	text-decoration: none;
}

/* tabs */

[data-purpose="tabs"] {
    list-style: none;
}

[data-purpose="tabs"] li {
    display: inline-block;
    cursor: pointer;
}

/* pages */

[data-purpose="tab-pages"] {
    list-style: none;
}

[data-purpose="tab-pages"] > [data-tab] {
    display: none;
}

[data-purpose="tab-pages"] > [data-tab].selected {
    display: block;
}

/* mini tabs */

ul.mini-tabs {
    margin: 0;
    padding: 0;
}

ul.mini-tabs li {
    margin: 0;

    padding: 5px 10px;
    border-radius: 5px;
    background: #bbb;
}

ul.mini-tabs li.selected {
    background: #999;
}

ul.mini-pages {
    margin: 0;
    padding: 0;
}

ul.mini-pages li {
    margin: 0;
    padding: 0;
}

.nicetable-button {
  width: 30px;
  height: 30px;
  background: url("/_core/i/admin/buttons.png?$admin-buttons-timestamp") -30px -90px no-repeat;
}
.nicetable-button[data-action="accepted"][data-state="0"] {
  width: 30px;
  height: 30px;
  background: url("/_core/i/admin/buttons.png?$admin-buttons-timestamp") -28px 0px no-repeat;
}
.nicetable-button[data-action="accepted"][data-state="1"] {
  width: 30px;
  height: 30px;
  background: url("/_core/i/admin/buttons.png?$admin-buttons-timestamp") -178px -120px no-repeat;
}
.nicetable-button[data-action="activated"][data-state="0"] {
  width: 30px;
  height: 30px;
  background: url("/_core/i/admin/buttons.png?$admin-buttons-timestamp") -58px 0px no-repeat;
}
.nicetable-button[data-action="activated"][data-state="1"] {
  width: 30px;
  height: 30px;
  background: url("/_core/i/admin/buttons.png?$admin-buttons-timestamp") 0px -30px no-repeat;
}
.nicetable-button[data-action="active"][data-state="0"] {
  width: 30px;
  height: 30px;
  background: url("/_core/i/admin/buttons.png?$admin-buttons-timestamp") -30px -30px no-repeat;
}
.nicetable-button[data-action="active"][data-state="1"] {
  width: 30px;
  height: 30px;
  background: url("/_core/i/admin/buttons.png?$admin-buttons-timestamp") -88px 0px no-repeat;
}
.nicetable-button[data-action="banner"][data-state="0"] {
  width: 30px;
  height: 30px;
  background: url("/_core/i/admin/buttons.png?$admin-buttons-timestamp") -88px -30px no-repeat;
}
.nicetable-button[data-action="banner"][data-state="1"] {
  width: 30px;
  height: 30px;
  background: url("/_core/i/admin/buttons.png?$admin-buttons-timestamp") 0px -60px no-repeat;
}
.nicetable-button[data-action="comments"][data-state="0"] {
  width: 30px;
  height: 30px;
  background: url("/_core/i/admin/buttons.png?$admin-buttons-timestamp") -30px -60px no-repeat;
}
.nicetable-button[data-action="comments"][data-state="1"] {
  width: 30px;
  height: 30px;
  background: url("/_core/i/admin/buttons.png?$admin-buttons-timestamp") -60px -60px no-repeat;
}
.nicetable-button[data-action="create"] {
  width: 30px;
  height: 30px;
  background: url("/_core/i/admin/buttons.png?$admin-buttons-timestamp") -118px 0px no-repeat;
}
.nicetable-button[data-action="del"] {
  width: 30px;
  height: 30px;
  background: url("/_core/i/admin/buttons.png?$admin-buttons-timestamp") -118px -30px no-repeat;
}
.nicetable-button[data-action="down"] {
  width: 30px;
  height: 30px;
  background: url("/_core/i/admin/buttons.png?$admin-buttons-timestamp") -118px -60px no-repeat;
}
.nicetable-button[data-action="edit"] {
  width: 30px;
  height: 30px;
  background: url("/_core/i/admin/buttons.png?$admin-buttons-timestamp") 0px -90px no-repeat;
}
.nicetable-button[data-action="empty"] {
  width: 30px;
  height: 30px;
  background: url("/_core/i/admin/buttons.png?$admin-buttons-timestamp") -30px -90px no-repeat;
}
.nicetable-button[data-action="en_visible"][data-state="0"] {
  width: 30px;
  height: 30px;
  background: url("/_core/i/admin/buttons.png?$admin-buttons-timestamp") -60px -90px no-repeat;
}
.nicetable-button[data-action="en_visible"][data-state="1"] {
  width: 30px;
  height: 30px;
  background: url("/_core/i/admin/buttons.png?$admin-buttons-timestamp") -90px -90px no-repeat;
}
.nicetable-button[data-action="hit"][data-state="0"] {
  width: 30px;
  height: 30px;
  background: url("/_core/i/admin/buttons.png?$admin-buttons-timestamp") -148px 0px no-repeat;
}
.nicetable-button[data-action="hit"][data-state="1"] {
  width: 30px;
  height: 30px;
  background: url("/_core/i/admin/buttons.png?$admin-buttons-timestamp") -148px -30px no-repeat;
}
.nicetable-button[data-action="hot"][data-state="0"] {
  width: 30px;
  height: 30px;
  background: url("/_core/i/admin/buttons.png?$admin-buttons-timestamp") -148px -60px no-repeat;
}
.nicetable-button[data-action="hot"][data-state="1"] {
  width: 30px;
  height: 30px;
  background: url("/_core/i/admin/buttons.png?$admin-buttons-timestamp") -148px -90px no-repeat;
}
.nicetable-button[data-action="mail"] {
  width: 30px;
  height: 30px;
  background: url("/_core/i/admin/buttons.png?$admin-buttons-timestamp") 0px -120px no-repeat;
}
.nicetable-button[data-action="manage"] {
  width: 30px;
  height: 30px;
  background: url("/_core/i/admin/buttons.png?$admin-buttons-timestamp") -30px -120px no-repeat;
}
.nicetable-button[data-action="moderated"][data-state="0"] {
  width: 30px;
  height: 30px;
  background: url("/_core/i/admin/buttons.png?$admin-buttons-timestamp") -60px -120px no-repeat;
}
.nicetable-button[data-action="moderated"][data-state="1"] {
  width: 30px;
  height: 30px;
  background: url("/_core/i/admin/buttons.png?$admin-buttons-timestamp") -90px -120px no-repeat;
}
.nicetable-button[data-action="new"][data-state="0"] {
  width: 30px;
  height: 30px;
  background: url("/_core/i/admin/buttons.png?$admin-buttons-timestamp") -120px -120px no-repeat;
}
.nicetable-button[data-action="new"][data-state="1"] {
  width: 30px;
  height: 30px;
  background: url("/_core/i/admin/buttons.png?$admin-buttons-timestamp") -178px 0px no-repeat;
}
.nicetable-button[data-action="opened"][data-state="0"] {
  width: 30px;
  height: 30px;
  background: url("/_core/i/admin/buttons.png?$admin-buttons-timestamp") -178px -30px no-repeat;
}
.nicetable-button[data-action="opened"][data-state="1"] {
  width: 30px;
  height: 30px;
  background: url("/_core/i/admin/buttons.png?$admin-buttons-timestamp") -178px -60px no-repeat;
}
.nicetable-button[data-action="pic"] {
  width: 30px;
  height: 30px;
  background: url("/_core/i/admin/buttons.png?$admin-buttons-timestamp") -178px -90px no-repeat;
}
.nicetable-button[data-action="play"] {
  width: 28px;
  height: 30px;
  background: url("/_core/i/admin/buttons.png?$admin-buttons-timestamp") 0px 0px no-repeat;
}
.nicetable-button[data-action="price"] {
  width: 30px;
  height: 30px;
  background: url("/_core/i/admin/buttons.png?$admin-buttons-timestamp") 0px -150px no-repeat;
}
.nicetable-button[data-action="print"] {
  width: 30px;
  height: 30px;
  background: url("/_core/i/admin/buttons.png?$admin-buttons-timestamp") -30px -150px no-repeat;
}
.nicetable-button[data-action="recommended"][data-state="0"] {
  width: 30px;
  height: 30px;
  background: url("/_core/i/admin/buttons.png?$admin-buttons-timestamp") -60px -150px no-repeat;
}
.nicetable-button[data-action="recommended"][data-state="1"] {
  width: 30px;
  height: 30px;
  background: url("/_core/i/admin/buttons.png?$admin-buttons-timestamp") -90px -150px no-repeat;
}
.nicetable-button[data-action="reply"][data-state="0"] {
  width: 30px;
  height: 30px;
  background: url("/_core/i/admin/buttons.png?$admin-buttons-timestamp") -120px -150px no-repeat;
}
.nicetable-button[data-action="reply"][data-state="1"] {
  width: 30px;
  height: 30px;
  background: url("/_core/i/admin/buttons.png?$admin-buttons-timestamp") -150px -150px no-repeat;
}
.nicetable-button[data-action="rollback"] {
  width: 29px;
  height: 30px;
  background: url("/_core/i/admin/buttons.png?$admin-buttons-timestamp") -208px 0px no-repeat;
}
.nicetable-button[data-action="to_show_content"][data-state="0"] {
  width: 30px;
  height: 30px;
  background: url("/_core/i/admin/buttons.png?$admin-buttons-timestamp") 0px -180px no-repeat;
}
.nicetable-button[data-action="to_show_content"][data-state="1"] {
  width: 30px;
  height: 30px;
  background: url("/_core/i/admin/buttons.png?$admin-buttons-timestamp") -30px -180px no-repeat;
}
.nicetable-button[data-action="top"][data-state="0"] {
  width: 30px;
  height: 30px;
  background: url("/_core/i/admin/buttons.png?$admin-buttons-timestamp") -60px -180px no-repeat;
}
.nicetable-button[data-action="top"][data-state="1"] {
  width: 30px;
  height: 30px;
  background: url("/_core/i/admin/buttons.png?$admin-buttons-timestamp") -90px -180px no-repeat;
}
.nicetable-button[data-action="up"] {
  width: 30px;
  height: 30px;
  background: url("/_core/i/admin/buttons.png?$admin-buttons-timestamp") -120px -180px no-repeat;
}
.nicetable-button[data-action="video"] {
  width: 30px;
  height: 30px;
  background: url("/_core/i/admin/buttons.png?$admin-buttons-timestamp") -150px -180px no-repeat;
}
.nicetable-button[data-action="visible"][data-state="0"] {
  width: 30px;
  height: 30px;
  background: url("/_core/i/admin/buttons.png?$admin-buttons-timestamp") -180px -180px no-repeat;
}
.nicetable-button[data-action="visible"][data-state="1"] {
  width: 30px;
  height: 30px;
  background: url("/_core/i/admin/buttons.png?$admin-buttons-timestamp") -237px 0px no-repeat;
}
.nicetable-button[data-action="visible_2nd_bottom"][data-state="0"] {
  width: 30px;
  height: 30px;
  background: url("/_core/i/admin/buttons.png?$admin-buttons-timestamp") -237px -30px no-repeat;
}
.nicetable-button[data-action="visible_2nd_bottom"][data-state="1"] {
  width: 30px;
  height: 30px;
  background: url("/_core/i/admin/buttons.png?$admin-buttons-timestamp") -237px -60px no-repeat;
}
.nicetable-button[data-action="visible_bottom"][data-state="0"] {
  width: 30px;
  height: 30px;
  background: url("/_core/i/admin/buttons.png?$admin-buttons-timestamp") -237px -90px no-repeat;
}
.nicetable-button[data-action="visible_bottom"][data-state="1"] {
  width: 30px;
  height: 30px;
  background: url("/_core/i/admin/buttons.png?$admin-buttons-timestamp") -237px -120px no-repeat;
}
.nicetable-button[data-action="visible_left"][data-state="0"] {
  width: 30px;
  height: 30px;
  background: url("/_core/i/admin/buttons.png?$admin-buttons-timestamp") -237px -150px no-repeat;
}
.nicetable-button[data-action="visible_left"][data-state="1"] {
  width: 30px;
  height: 30px;
  background: url("/_core/i/admin/buttons.png?$admin-buttons-timestamp") -237px -180px no-repeat;
}
.nicetable-button[data-action="visible_logged_in"][data-state="0"] {
  width: 30px;
  height: 30px;
  background: url("/_core/i/admin/buttons.png?$admin-buttons-timestamp") 0px -210px no-repeat;
}
.nicetable-button[data-action="visible_logged_in"][data-state="1"] {
  width: 30px;
  height: 30px;
  background: url("/_core/i/admin/buttons.png?$admin-buttons-timestamp") -30px -210px no-repeat;
}
.nicetable-button[data-action="visible_right"][data-state="0"] {
  width: 30px;
  height: 30px;
  background: url("/_core/i/admin/buttons.png?$admin-buttons-timestamp") -60px -210px no-repeat;
}
.nicetable-button[data-action="visible_right"][data-state="1"] {
  width: 30px;
  height: 30px;
  background: url("/_core/i/admin/buttons.png?$admin-buttons-timestamp") -90px -210px no-repeat;
}
.nicetable-button[data-action="visible_top"][data-state="0"] {
  width: 30px;
  height: 30px;
  background: url("/_core/i/admin/buttons.png?$admin-buttons-timestamp") -120px -210px no-repeat;
}
.nicetable-button[data-action="visible_top"][data-state="1"] {
  width: 30px;
  height: 30px;
  background: url("/_core/i/admin/buttons.png?$admin-buttons-timestamp") -150px -210px no-repeat;
}
.nicetable-button[data-action="winner"][data-state="0"] {
  width: 30px;
  height: 30px;
  background: url("/_core/i/admin/buttons.png?$admin-buttons-timestamp") -180px -210px no-repeat;
}
.nicetable-button[data-action="winner"][data-state="1"] {
  width: 30px;
  height: 30px;
  background: url("/_core/i/admin/buttons.png?$admin-buttons-timestamp") -210px -210px no-repeat;
}
.nicetable-button {
  display: inline-block;
  cursor: pointer;
}
.nicetable-button[data-action="empty"] {
  cursor: default;
}
