$classicFont = Verdana,sans-serif
$classicMenuFont = Tahoma,sans-serif
// below: not connected
$classicMenuWidth = 230px
$classicMenuWidthNarrow1 = 130px
$classicBaseHeight = 71px

$classicColorLink = #7601AC
$classicColorBgLightGray = #f1f1f1
$classicColorBgDark = #374254
$classicColorBgDarker = #2a3246
$classicColorText = #4a4a4a
$classicColorTextMenu = #CBD9F0
$classicColorTextMenuSelected = #5AB5DF
$classicColorTableBorder = #dbdbdb
