$classicFont = Verdana,sans-serif
$classicMenuFont = Tahoma,sans-serif
$classicStandardPadding = 20px
// below: not connected
$classicMenuWidthNarrow1 = 130px
$classicBaseWidth = 180px
$classicBaseHeight = 71px

$classicColorLink = #7601AC
$classicColorLinkHover = red
$classicColorBgLightGray = #f1f1f1
$classicColorBgDark = #374254
$classicColorBgDarker = #2a3246
$classicColorBgBrown = #DFDFD0
$classicColorText = #4a4a4a
$classicColorTextMenu = #CBD9F0
$classicColorTextMenuSelected = #5AB5DF
$classicColorTableBorder = #dbdbdb
$classicColorInputBorder = #B2B2B2

$classicBorderRadiusInput = 4px
$classicBorderRadiusButton = 8px

:root {
  cssVar(font-primary, $classicFont)

  cssVar(text-size, 12px)

  cssVar(color-text, black)
  cssVar(color-background, white)
  cssVar(color-link, #7601AC)
  cssVar(color-link-hover, red)

  cssVar(menu-width, 200px)
  cssVar(menu-font-family, $classicMenuFont)
  cssVar(menu-font-size, 12px)
  cssVar(menu-font-weight, bold)
  cssVar(menu-line-height, 1.33)
  cssVar(menu-text-background, #edf0f4)
  cssVar(menu-text-background-hover, #dde5e5)
  cssVar(menu-text-color, #444)
  cssVar(menu-text-transform, uppercase)
  cssVar(menu-border-right, 1px solid #cccccc)
  cssVar(menu-item-border-bottom, 1px solid #cfcfcf)
  cssVar(menu-top, var(--logo-height))

  cssVar(logo-width, var(--menu-width))
  cssVar(logo-height, $classicBaseHeight)
  cssVar(logo-background, var(--color-link))

  cssVar(button-background-primary, var(--color-link))
  cssVar(button-background-hover-primary, var(--color-link-hover))
  cssVar(button-text-color-primary, white)

  cssVar(footer-height, 40px)

  cssVar(floating-submit-height, 40px)
}
