<div class="admin--help--wrapper">
    <iframe src="{{ embed_pdf_path }}" class="admin--help--pdf--frame">
        <object data="{{ embed_pdf_path }}" type="application/pdf" class="admin--help--pdf--frame">
            <embed src="{{ embed_pdf_path }}" type="application/pdf" class="admin--help--pdf--frame" />
        </object>
    </iframe>
</div>
