$entrineFont = Monserrat, "Open Sans", Helvetica, Arial, sans-serif
$entrineMenuWidthNarrow1 = 180px
$entrineMenuWidthNarrow2 = 130px
$entrineFooterHeight = 60px
$entrineBaseWidth = 180px
$entrineBaseHeight = 48px
$entrineColorBgLightGray = #f1f1f1
$entrineColorGray = #d3d3d3
$entrineColorBgDark = #374254
$entrineColorBgDarker = #2a3246
$entrineColorText = #4a4a4a
$entrineColorTextMenu = #CBD9F0
$entrineColorTextMenuSelected = #5AB5DF
$entrineColorTableBorder = #dbdbdb
$entrineColorSave = #63EB4F
$entrineColorCancel = #DF5A5A
$entrineColorQuickSave = #62E0D6
$entrineColorInputBorder = $entrineColorTableBorder

$entrineBorderRadiusInput = 0
$entrineBorderRadiusButton = 0

{$entrineSkin} {
  cssVar(font-primary, $entrineFont)

  cssVar(color-text, $entrineColorText)
  cssVar(color-link, #7601AC)
  cssVar(color-link-hover, red)

  cssVar(menu-width, 230px)
  cssVar(menu-font-family, var(--font-primary))
  cssVar(menu-font-weight, 600)
  cssVar(menu-text-background, $entrineColorBgDark)
  cssVar(menu-text-background-hover, var(--menu-text-background))
  cssVar(menu-text-color, $entrineColorTextMenu)
  cssVar(menu-text-color-hover, $entrineColorTextMenuSelected)
  cssVar(menu-item-border-bottom, 0)
  cssVar(menu-top, var(--logo-height))

  cssVar(logo-width, var(--menu-width))
  cssVar(logo-height, $entrineBaseHeight)
  cssVar(logo-background, $entrineColorBgDarker)

  cssVar(caption-font-family, var(--font-primary))
  cssVar(caption-background-color, $entrineColorBgLightGray)
  cssVar(caption-height, $entrineBaseHeight)
  cssVar(caption-border-bottom, 0)

  cssVar(button-background-primary, #5AB5DF)

  cssVar(form-row-gap, 10px)
  cssVar(form-row-margin, 0 $classicStandardPadding 20px)
  cssVar(form-row-padding, 0)
  cssVar(form-row-border, 0)
  cssVar(form-row-border-radius, 0)
  cssVar(form-row-background-color, none)
  cssVar(form-row-title-width, 130px)
  cssVar(form-row-title-padding-top, 18px)

  cssVar(footer-height, 60px)

  cssVar(floating-submit-height, 60px)

  cssVar(navy-gap, 5px 15px)
  cssVar(navy-hor-alignment, flex-start)
  cssVar(navy-item-padding, 10px 15px)

  --site-title-background $entrineColorBgDark
}
