$entrineFont = Monserrat, "Open Sans", Helvetica, Arial, sans-serif
$entrineMenuWidth = 230px
$entrineBaseHeight = 71px
$entrineColorBgLightGray = #f1f1f1
$entrineColorBgDark = #374254
$entrineColorBgDarker = #2a3246
$entrineColorText = #4a4a4a
$entrineColorTextMenu = #CBD9F0
$entrineColorTextMenuSelected = #5AB5DF
$entrineColorTableBorder = #dbdbdb
