$entrineFont = Monserrat, "Open Sans", Helvetica, Arial, sans-serif
$entrineMenuWidth = 230px
$entrineMenuWidthNarrow1 = 130px
$entrineBaseWidth = 180px
$entrineBaseHeight = 48px
$entrineColorBgLightGray = #f1f1f1
$entrineColorGray = #d3d3d3
$entrineColorBgDark = #374254
$entrineColorBgDarker = #2a3246
$entrineColorText = #4a4a4a
$entrineColorTextMenu = #CBD9F0
$entrineColorTextMenuSelected = #5AB5DF
$entrineColorTableBorder = #dbdbdb
$entrineColorSave = #63EB4F
$entrineColorCancel = #DF5A5A
$entrineColorQuickSave = #62E0D6
