.comments-block {
    margin-top: 10px;
    padding: 10px;
    background: #ddd;
    border-radius: 10px;
}

/* rows */

.comments-block .comment-rows {

}

.comments-block .comment-rows .comment-row {
    padding: 10px 0;
    border-bottom: 1px dotted #777;
}

.comments-block .comment-rows .comment-row[data-level-num="1"] {
    margin-left: 25px;
}

.comments-block .comment-rows .comment-row[data-level-num="2"] {
    margin-left: 50px;
}

.comments-block .comment-rows .comment-row[data-level-num="3"] {
    margin-left: 75px;
}

.comments-block .comment-rows .comment-row[data-level-num="4"] {
    margin-left: 100px;
}

.comments-block .comment-rows .comment-row[data-level-num="5"] {
    margin-left: 125px;
}

.comments-block .comment-rows .comment-row[data-level-num="6"] {
    margin-left: 150px;
}

.comments-block .comment-rows .comment-row[data-level-num="7"] {
    margin-left: 175px;
}

.comments-block .comment-rows .comment-row[data-level-num="8"] {
    margin-left: 200px;
}

.comments-block .comment-rows .comment-row .timestamp {
    float: right;
}

.comments-block .comment-rows .comment-row .name {

}

.comments-block .comment-rows .comment-row .content {
    padding: 5px 0;
}

.comments-block .comment-rows .comment-row .actions {

}

.comments-block .comment-rows .comment-row .actions i {
    font-style: normal;
    border-bottom: 1px dashed #000;
    cursor: pointer;
}

/* form */

.comments-block .comments-form {
    width: 80%;
    position: relative;
    padding-top: 10px;
}

.comments-block .comments-form textarea {
    width: 100%;
}

.comments-block .comments-form .comment-submit-block {
    position: absolute;
    left: 100%;
    margin-left: 30px;
}

.comments-block .comments-form .comment-submit-block button {
    padding: 5px 15px;
}

/* loading */

.loading,
.loading-ico {
    background: url(/_core/i/ani/loading.gif) center center no-repeat;
}

.loading-ico {
    width: 32px;
    height: 32px;
    display: inline-block;
    visibility: hidden;
}

.comments-form .loading-ico {
    position: absolute;
    margin: 5px 0 0 0;
}
