ul.admin-grid {
	list-style: none;
	margin: 0 24px 20px 24px;
	padding: 0;
}

ul.admin-grid li {
	display: inline-block;
	background: #DFDFD0;
	padding: 10px;
	border-radius: 10px;
	width: 24%;
	margin-right: 1%;
	box-sizing: border-box;
	vertical-align: top;
	text-align: center;
	margin-bottom: 15px;
}

ul.admin-grid li.highlight {
	background-color: #ffd;
}

ul.admin-grid li .buttons-panel {
	margin: 10px 0 0 0;
}

ul.admin-grid li .nicetable-button[data-action="up"],
ul.admin-grid li .nicetable-button[data-action="down"]{
	transform: rotate(-90deg);
}

ul.admin-grid li img {
	max-width: 100%;
}
