:root {
  --navy-gap: 5px;
  --navy-margin: 5px;
  --navy-hor-alignment: center;
  --navy-ver-alignment: center;
  --navy-item-padding: 3px 8px;
  --navy-font-size: 12px;
}
:root {
  --font-primary: Verdana, sans-serif;
  --text-size: 12px;
  --color-text: #000;
  --color-background: #fff;
  --color-link: #7601ac;
  --color-link-hover: #f00;
  --link-text-decoration: none;
  --menu-width: 200px;
  --menu-font-family: Tahoma, sans-serif;
  --menu-font-size: 12px;
  --menu-font-weight: bold;
  --menu-line-height: 1.33;
  --menu-text-background: #edf0f4;
  --menu-text-background-hover: #dde5e5;
  --menu-text-color: #444;
  --menu-text-transform: uppercase;
  --menu-border-right: 1px solid #ccc;
  --menu-item-border-bottom: 1px solid #cfcfcf;
  --menu-top: var(--logo-height);
  --content-padding-hor: 20px;
  --caption-position: static;
  --caption-font-family: Tahoma, sans-serif;
  --caption-font-size: 12px;
  --caption-font-weight: bold;
  --caption-line-height: 1.5;
  --caption-background-color: #fff;
  --caption-text-color: inherit;
  --caption-text-transform: uppercase;
  --caption-margin-bottom: 20px;
  --caption-border-bottom: 1px solid #ccc;
  --caption-height: 40px;
  --logo-width: var(--menu-width);
  --logo-height: 71px;
  --logo-background: var(--color-link);
  --button-background-primary: var(--color-link);
  --button-background-hover-primary: var(--color-link-hover);
  --button-text-color-primary: #fff;
  --form-row-gap: 10px;
  --form-row-margin: 0 20px 3px;
  --form-row-padding: 8px 10px;
  --form-row-border: 1px solid #cfcfcf;
  --form-row-border-radius: 8px;
  --form-row-background-color: #fafafa;
  --form-row-title-width: 190px;
  --form-row-title-padding-top: 3px;
  --footer-height: 40px;
  --floating-submit-height: 40px;
}
body[data-skin="entrine"] {
  --font-primary: Monserrat, "Open Sans", Helvetica, Arial, sans-serif;
  --color-text: #4a4a4a;
  --color-link: #7601ac;
  --color-link-hover: #f00;
  --menu-width: 230px;
  --menu-font-family: var(--font-primary);
  --menu-font-weight: 600;
  --menu-text-background: #374254;
  --menu-text-background-hover: var(--menu-text-background);
  --menu-text-color: #cbd9f0;
  --menu-text-color-hover: #5ab5df;
  --menu-item-border-bottom: 0;
  --menu-top: var(--logo-height);
  --logo-width: var(--menu-width);
  --logo-height: 48px;
  --logo-background: #2a3246;
  --caption-font-family: var(--font-primary);
  --caption-background-color: #f1f1f1;
  --caption-height: 48px;
  --caption-border-bottom: 0;
  --button-background-primary: #5ab5df;
  --form-row-gap: 10px;
  --form-row-margin: 0 20px 20px;
  --form-row-padding: 0;
  --form-row-border: 0;
  --form-row-border-radius: 0;
  --form-row-background-color: none;
  --form-row-title-width: 130px;
  --form-row-title-padding-top: 18px;
  --footer-height: 60px;
  --floating-submit-height: 60px;
  --navy-gap: 5px 15px;
  --navy-hor-alignment: flex-start;
  --navy-item-padding: 10px 15px;
}
@font-face {
  font-family: 'Monserrat';
  src: url("/assets/fonts/skin/entrine/Montserrat-Regular.eot");
  src: url("/assets/fonts/skin/entrine/Montserrat-Regular.eot?#iefix") format('embedded-opentype'), url("/assets/fonts/skin/entrine/Montserrat-Regular.woff") format('woff'), url("/assets/fonts/skin/entrine/Montserrat-Regular.ttf") format('truetype'), url("/assets/fonts/skin/entrine/Montserrat-Regular.svg#Monserrat") format('svg');
  font-weight: 'normal';
  font-style: normal;
}
@font-face {
  font-family: 'Monserrat';
  src: url("/assets/fonts/skin/entrine/Montserrat-Bold.eot");
  src: url("/assets/fonts/skin/entrine/Montserrat-Bold.eot?#iefix") format('embedded-opentype'), url("/assets/fonts/skin/entrine/Montserrat-Bold.woff") format('woff'), url("/assets/fonts/skin/entrine/Montserrat-Bold.ttf") format('truetype'), url("/assets/fonts/skin/entrine/Montserrat-Bold.svg#Monserrat") format('svg');
  font-weight: 'bold';
  font-style: normal;
}
@font-face {
  font-family: 'Monserrat';
  src: url("/assets/fonts/skin/entrine/Montserrat-Medium.eot");
  src: url("/assets/fonts/skin/entrine/Montserrat-Medium.eot?#iefix") format('embedded-opentype'), url("/assets/fonts/skin/entrine/Montserrat-Medium.woff") format('woff'), url("/assets/fonts/skin/entrine/Montserrat-Medium.ttf") format('truetype'), url("/assets/fonts/skin/entrine/Montserrat-Medium.svg#Monserrat") format('svg');
  font-weight: 400;
  font-style: normal;
}
body {
  background: #fff;
  font-family: Tahoma, Verdana, Segoe, sans-serif;
  font-size: 14px;
  color: #000;
}
body[data-skin="entrine"] {
  font-family: Monserrat, "Open Sans", Helvetica, Arial, sans-serif;
  background: #fff;
  color: #374254;
}
form {
  margin: 0;
  padding: 0;
}
a {
  color: #9601da;
}
a:hover {
  text-decoration: none;
}
body[data-skin="entrine"] .login-form-wrapper {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 50px auto;
  padding: 80px 20px;
  width: 500px;
  -webkit-box-shadow: 0 2px 39px 6px rgba(0,0,0,0.09);
  box-shadow: 0 2px 39px 6px rgba(0,0,0,0.09);
}
@media screen and (max-width: 768px) {
  body[data-skin="entrine"] .login-form-wrapper {
    width: auto;
    margin: 0;
    padding: 20px;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
}
/*
.logo
    font-size 50px
    line-height 100px
    text-align center
    body[data-skin="entrine"] &
        display none
        font-size 16px
        line-height 60px
    @media $mqTablet
        line-height 70px
    i
        font-style normal
        color #7601AC
        body[data-skin="entrine"] &
            color inherit
    b
        font-weight 600
        body[data-skin="entrine"] &
            font-weight normal
*/
.site-logo {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -o-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  padding: 36px 0;
}
@media screen and (min-width: 768px) {
  body[data-skin="entrine"] .site-logo {
    padding-top: 0;
  }
}
.site-logo img {
  max-width: 340px;
  max-height: 200px;
}
@media screen and (max-width: 450px) {
  .site-logo img {
    max-width: 75%;
  }
}
.site-title {
  text-align: center;
  font-size: 24px;
  line-height: 1.5;
  padding: 36px 0;
}
body[data-skin="entrine"] .site-title {
  line-height: 30px;
}
@media screen and (min-width: 768px) {
  body[data-skin="entrine"] .site-title {
    padding-top: 0;
  }
}
.description {
  text-align: center;
  font-size: 16px;
}
body[data-skin="entrine"] .description {
  line-height: 30px;
}
.login-form {
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  left: 50%;
  width: 380px;
  margin-top: 50px;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  background-color: #e5e5e5;
  border-radius: 20px;
  padding: 20px;
}
body[data-skin="entrine"] .login-form {
  background-color: transparent;
  border-radius: 0;
  margin-top: 30px;
  width: var(--menu-width);
  padding: 0;
}
@media screen and (max-width: 768px) {
  .login-form {
    margin-top: 20px;
    width: 90%;
  }
}
.login-form > div:not(:first-child) {
  margin-top: 15px;
}
body[data-skin="entrine"] .login-form > div:not(:first-child) {
  margin-top: 20px;
}
.login-form .login-field-name {
  display: none;
}
.login-form > .error {
  color: #f00;
  text-align: center;
}
body[data-skin="entrine"] .login-form > .error {
  color: #faa;
}
.login-form label {
  font-size: 14px;
}
.login-form button,
.login-form input[type="text"],
.login-form input[type="email"],
.login-form input[type="password"] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 10px;
  width: 100%;
  padding: 0;
  border: 0;
  font-family: Tahoma, Verdana, Segoe, sans-serif;
  font-size: 24px;
  height: 42px;
  outline: none;
}
body[data-skin="entrine"] .login-form button,
body[data-skin="entrine"] .login-form input[type="text"],
body[data-skin="entrine"] .login-form input[type="email"],
body[data-skin="entrine"] .login-form input[type="password"] {
  font-family: Monserrat, "Open Sans", Helvetica, Arial, sans-serif;
  border: 1px solid #d3d3d3;
  border-radius: 3px;
  height: 48px;
  font-size: 16px;
}
@media screen and (max-width: 768px) {
  .login-form button,
  .login-form input[type="text"],
  .login-form input[type="email"],
  .login-form input[type="password"] {
    font-size: 18px;
    height: 28px;
  }
}
.login-form button {
  color: var(--button-text-color-primary);
  background-color: var(--button-background-primary);
  -webkit-transition: background-color 0.3s ease;
  -moz-transition: background-color 0.3s ease;
  -o-transition: background-color 0.3s ease;
  -ms-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;
  cursor: pointer;
}
.login-form button:hover {
  background-color: var(--button-background-hover-primary);
}
body[data-skin="entrine"] .login-form button {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg height=%2215%22 viewBox=%220 0 18 15%22 width=%2218%22 xmlns=%22http://www.w3.org/2000/svg%22%3E%3Cpath d=%22m10.5 12.75v-.06225c-.8835.51375-1.9065.81225-3 .81225-3.30825 0-6-2.69175-6-6s2.69175-6 6-6c1.0935 0 2.1165.2985 3 .81225v-1.68375c-.9195-.402-1.932-.6285-3-.6285-4.1415 0-7.5 3.35775-7.5 7.5s3.3585 7.5 7.5 7.5c1.068 0 2.0805-.2265 3-.6285zm3-7.194 2.22225 1.944-2.22225 1.944v-1.194h-6v-1.5h6zm-1.5-3.306v3h-6v4.5h6v3l6-5.25z%22 fill=%22%23fff%22/%3E%3C/svg%3E");
  background-position: right 18px center;
  background-repeat: no-repeat;
  text-align: left;
  padding-left: 18px;
  border: 0;
}
.login-form input[type="text"],
.login-form input[type="email"],
.login-form input[type="password"] {
  padding: 0 15px;
}
body[data-skin="entrine"] .login-form input[type="text"],
body[data-skin="entrine"] .login-form input[type="email"],
body[data-skin="entrine"] .login-form input[type="password"] {
  padding: 0 18px;
}
.forgotten {
  margin: 10px 0 0 0;
  text-align: right;
}
.forgotten a {
  text-decoration: underline;
  font-size: 11px;
  color: #000;
}
.to-home {
  text-align: center;
  margin-top: 50px;
  font-size: 16px;
}
@media screen and (max-width: 768px) {
  .to-home {
    margin-top: 30px;
  }
}
body[data-skin="entrine"] .to-home {
  display: none;
}
.to-home a {
  display: inline-block;
  border-radius: 10px;
  padding: 10px 50px;
  text-decoration: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-color: #e5e5e5;
  -webkit-transition: background-color 0.5s ease, color 0.5s ease;
  -moz-transition: background-color 0.5s ease, color 0.5s ease;
  -o-transition: background-color 0.5s ease, color 0.5s ease;
  -ms-transition: background-color 0.5s ease, color 0.5s ease;
  transition: background-color 0.5s ease, color 0.5s ease;
}
.to-home a:hover {
  color: #f00;
  background-color: #ddd;
}
.contacts {
  text-align: center;
  margin-top: 50px;
  font-size: 16px;
}
body[data-skin="entrine"] .contacts {
  display: none;
}
@media screen and (max-width: 768px) {
  .contacts {
    margin-top: 30px;
  }
}
