@font-face {
  font-family: 'Monserrat';
  src: url("/assets/fonts/skin/entrine/Montserrat-Regular.eot");
  src: url("/assets/fonts/skin/entrine/Montserrat-Regular.eot?#iefix") format('embedded-opentype'), url("/assets/fonts/skin/entrine/Montserrat-Regular.woff") format('woff'), url("/assets/fonts/skin/entrine/Montserrat-Regular.ttf") format('truetype'), url("/assets/fonts/skin/entrine/Montserrat-Regular.svg#Monserrat") format('svg');
  font-weight: 'normal';
  font-style: normal;
}
@font-face {
  font-family: 'Monserrat';
  src: url("/assets/fonts/skin/entrine/Montserrat-Bold.eot");
  src: url("/assets/fonts/skin/entrine/Montserrat-Bold.eot?#iefix") format('embedded-opentype'), url("/assets/fonts/skin/entrine/Montserrat-Bold.woff") format('woff'), url("/assets/fonts/skin/entrine/Montserrat-Bold.ttf") format('truetype'), url("/assets/fonts/skin/entrine/Montserrat-Bold.svg#Monserrat") format('svg');
  font-weight: 'bold';
  font-style: normal;
}
@font-face {
  font-family: 'Monserrat';
  src: url("/assets/fonts/skin/entrine/Montserrat-Medium.eot");
  src: url("/assets/fonts/skin/entrine/Montserrat-Medium.eot?#iefix") format('embedded-opentype'), url("/assets/fonts/skin/entrine/Montserrat-Medium.woff") format('woff'), url("/assets/fonts/skin/entrine/Montserrat-Medium.ttf") format('truetype'), url("/assets/fonts/skin/entrine/Montserrat-Medium.svg#Monserrat") format('svg');
  font-weight: 400;
  font-style: normal;
}
body {
  background: #fff;
  font-family: Tahoma, Verdana, Segoe, sans-serif;
  font-size: 14px;
  color: #000;
}
body[data-skin="entrine"] {
  font-family: Monserrat, "Open Sans", Helvetica, Arial, sans-serif;
  background: #fff;
  color: #374254;
}
form {
  margin: 0;
  padding: 0;
}
a {
  color: #9601da;
}
a:hover {
  text-decoration: none;
}
body[data-skin="entrine"] .login-form-wrapper {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 50px auto;
  padding: 120px 20px;
  width: 500px;
  -webkit-box-shadow: 0 2px 39px 6px rgba(0,0,0,0.09);
  box-shadow: 0 2px 39px 6px rgba(0,0,0,0.09);
}
@media screen and (max-width: 767px) {
  body[data-skin="entrine"] .login-form-wrapper {
    width: auto;
    margin: 0;
    padding: 20px;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
}
.logo {
  font-size: 50px;
  line-height: 100px;
  text-align: center;
}
body[data-skin="entrine"] .logo {
  display: none;
  font-size: 16px;
  line-height: 60px;
}
@media screen and (max-width: 767px) {
  .logo {
    line-height: 70px;
  }
}
.logo i {
  font-style: normal;
  color: #7601ac;
}
body[data-skin="entrine"] .logo i {
  color: inherit;
}
.logo b {
  font-weight: 600;
}
body[data-skin="entrine"] .logo b {
  font-weight: normal;
}
.site-title {
  display: none;
  text-align: center;
  font-size: 20px;
  line-height: 40px;
}
body[data-skin="entrine"] .site-title {
  display: block;
  line-height: 30px;
}
.description {
  text-align: center;
  font-size: 20px;
}
body[data-skin="entrine"] .description {
  font-size: 16px;
  line-height: 30px;
}
.login-form {
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  left: 50%;
  width: 380px;
  margin-top: 50px;
  margin-left: -190px;
  background-color: #e5e5e5;
  border-radius: 20px;
  padding: 20px;
}
body[data-skin="entrine"] .login-form {
  background-color: transparent;
  border-radius: 0;
  margin-top: 30px;
  width: 230px;
  margin-left: -115px;
  padding: 0;
}
@media screen and (max-width: 767px) {
  .login-form {
    margin-top: 20px;
    width: 90%;
    margin-left: -45%;
  }
}
.login-form > div:not(:first-child) {
  margin-top: 15px;
}
body[data-skin="entrine"] .login-form > div:not(:first-child) {
  margin-top: 20px;
}
.login-form > .error {
  color: #f00;
  text-align: center;
}
body[data-skin="entrine"] .login-form > .error {
  color: #faa;
}
.login-form label {
  font-size: 14px;
}
.login-form button,
.login-form input[type="text"],
.login-form input[type="email"],
.login-form input[type="password"] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 10px;
  width: 100%;
  padding: 0;
  border: 0;
  font-family: Tahoma, Verdana, Segoe, sans-serif;
  font-size: 24px;
  height: 42px;
  outline: none;
}
body[data-skin="entrine"] .login-form button,
body[data-skin="entrine"] .login-form input[type="text"],
body[data-skin="entrine"] .login-form input[type="email"],
body[data-skin="entrine"] .login-form input[type="password"] {
  font-family: Monserrat, "Open Sans", Helvetica, Arial, sans-serif;
  border: 1px solid #d3d3d3;
  border-radius: 3px;
  height: 48px;
  font-size: 16px;
}
@media screen and (max-width: 767px) {
  .login-form button,
  .login-form input[type="text"],
  .login-form input[type="email"],
  .login-form input[type="password"] {
    font-size: 18px;
    height: 28px;
  }
}
.login-form button {
  background-color: #9600db;
  -webkit-transition: background-color 0.5s ease;
  -moz-transition: background-color 0.5s ease;
  -o-transition: background-color 0.5s ease;
  -ms-transition: background-color 0.5s ease;
  transition: background-color 0.5s ease;
  color: #fff;
  cursor: pointer;
}
.login-form button:hover {
  background-color: #f00;
}
body[data-skin="entrine"] .login-form button {
  background-color: #5ab5df;
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg height=%2215%22 viewBox=%220 0 18 15%22 width=%2218%22 xmlns=%22http://www.w3.org/2000/svg%22%3E%3Cpath d=%22m10.5 12.75v-.06225c-.8835.51375-1.9065.81225-3 .81225-3.30825 0-6-2.69175-6-6s2.69175-6 6-6c1.0935 0 2.1165.2985 3 .81225v-1.68375c-.9195-.402-1.932-.6285-3-.6285-4.1415 0-7.5 3.35775-7.5 7.5s3.3585 7.5 7.5 7.5c1.068 0 2.0805-.2265 3-.6285zm3-7.194 2.22225 1.944-2.22225 1.944v-1.194h-6v-1.5h6zm-1.5-3.306v3h-6v4.5h6v3l6-5.25z%22 fill=%22%23fff%22/%3E%3C/svg%3E");
  background-position: right 18px center;
  background-repeat: no-repeat;
  color: #fff;
  text-align: left;
  padding-left: 18px;
  border: 0;
}
.login-form input[type="text"],
.login-form input[type="email"],
.login-form input[type="password"] {
  padding: 0 15px;
}
body[data-skin="entrine"] .login-form input[type="text"],
body[data-skin="entrine"] .login-form input[type="email"],
body[data-skin="entrine"] .login-form input[type="password"] {
  padding: 0 18px;
}
.forgotten {
  margin: 10px 0 0 0;
  text-align: right;
}
.forgotten a {
  text-decoration: underline;
  font-size: 11px;
  color: #000;
}
.to-home {
  text-align: center;
  margin-top: 50px;
  font-size: 16px;
}
@media screen and (max-width: 767px) {
  .to-home {
    margin-top: 30px;
  }
}
body[data-skin="entrine"] .to-home {
  display: none;
}
.to-home a {
  display: inline-block;
  border-radius: 10px;
  padding: 10px 50px;
  text-decoration: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-color: #e5e5e5;
  -webkit-transition: background-color 0.5s ease, color 0.5s ease;
  -moz-transition: background-color 0.5s ease, color 0.5s ease;
  -o-transition: background-color 0.5s ease, color 0.5s ease;
  -ms-transition: background-color 0.5s ease, color 0.5s ease;
  transition: background-color 0.5s ease, color 0.5s ease;
}
.to-home a:hover {
  color: #f00;
  background-color: #ddd;
}
.contacts {
  text-align: center;
  margin-top: 50px;
  font-size: 16px;
}
body[data-skin="entrine"] .contacts {
  display: none;
}
@media screen and (max-width: 767px) {
  .contacts {
    margin-top: 30px;
  }
}
