/* tabs */

[data-purpose="tabs"] {
    list-style: none;
}

[data-purpose="tabs"] li {
    display: inline-block;
    cursor: pointer;
}

/* pages */

[data-purpose="tab-pages"] {
    list-style: none;
}

[data-purpose="tab-pages"] > [data-tab] {
    display: none;
}

[data-purpose="tab-pages"] > [data-tab].selected {
    display: block;
}

/* mini tabs */

ul.mini-tabs {
    margin: 0;
    padding: 0;
}

ul.mini-tabs li {
    margin: 0;

    padding: 5px 10px;
    border-radius: 5px;
    background: #bbb;
}

ul.mini-tabs li.selected {
    background: #999;
}

ul.mini-pages {
    margin: 0;
    padding: 0;
}

ul.mini-pages li {
    margin: 0;
    padding: 0;
}
