<!DOCTYPE html>
<html lang="{{ _tech['site_language'] }}">

{% block head %}{% include 'admin/_index/head_of_login.html.twig' %}{% endblock %}

<body data-skin="{{ _tech['admin_skin'] }}">

{% block before_body %}{% endblock %}

{% block body %}{% include 'admin/login/page.html.twig' %}{% endblock %}

{% block after_body %}{% endblock %}

{% include 'admin/_index/_parts/static_injections.html.twig' %}

</body>
</html>
