$widthTablet = 768px
$widthTabletLandscape = 1024px
$widthPhoneSmall = 350px
$widthPhone = 450px
$widthPhoneX = 812px
$widthHiDPI = 1440px
$widthMDPI = 1280px
$widthLaptopTiny = 920px
$widthLaptopSmall = 1200px

$mqIe = " and (-ms-high-contrast: active), (-ms-high-contrast: none)"
$mqPartPortrait = " and (max-aspect-ratio: 13/9)"
$mqPartLandscape = " and (min-aspect-ratio: 13/9)"
$mqPortrait = "screen" + $mqPartPortrait
$mqLandscape = "screen" + $mqPartLandscape
$mqTablet = "screen and (max-width: " + $widthTablet + ")"
$mqNoTablet = "screen and (min-width: " + ($widthTablet + 1px) + ")"
$mqTabletLandscape = "screen and (max-width: " + $widthTabletLandscape + ")"
$mqNoTabletLandscape = "screen and (min-width: " + ($widthTabletLandscape + 1px) + ")"
$mqPhone = "screen and (max-width: " + $widthPhone + ")"
$mqPhoneSmall = "screen and (max-width: " + $widthPhoneSmall + ")"
$mqPhoneX = "screen and (max-width: " + $widthPhoneX + ")"
$mqHiDPI = "screen and (max-width: " + $widthHiDPI + ")"
$mqMDPI = "screen and (max-width: " + $widthMDPI + ")"
$mqNoMDPI = "screen and (min-width: " + ($widthMDPI + 1px) + ")"
$mqLaptopTiny = "screen and (max-width: " + $widthLaptopTiny + ")"
$mqNoLaptopTiny = "screen and (min-width: " + ($widthLaptopTiny + 1px) + ")"
$mqLaptopSmall = "screen and (max-width: " + $widthLaptopSmall + ")"
$mqPhonePortrait = $mqPhone + " and (max-height: " + $widthTablet + ")" + $mqPartPortrait
$mqPhoneLandscape = $mqTablet + " and (min-height: 300px)" + " and (max-height: " + $widthPhone + ")" + $mqPartLandscape
$mqNoPhone = "screen and (min-width: " + ($widthPhone + 1px) + ")"
$mqNoTabletAndIe = $mqNoTablet + $mqIe
