.dynamic-add
	margin 10px 0
	{$entrineSkin} &
		margin 20px 0

.dynamic-row
	border 1px solid #aaa
	padding 10px
	border-radius 10px
	//display inline-block
	//width 97%
	transition background-color .3s ease
	{$entrineSkin} &
		border-radius 0
		border-width 3px
		padding 20px
		@media screen and (max-width: 767px)
			padding 10px
	+ .dynamic-row
		margin-top 10px
		{$entrineSkin} &
			margin-top 20px
	&:hover
		background-color #ffe
	&.ui-sortable-helper
	&.di-sortable-helper
		background-color #fea
		cursor move
		.existing-pic-holder
			img
				max-height 50px
				width auto
	div.m
		margin 10px 0
		display flex
	.remove
		float right
	.diaf_clear
		clear right
	ul.line
		display flex
		flex-wrap wrap
		align-items flex-start
		margin 0 25px 0 0
		padding 0
		list-style none
		> li
			display flex
			align-items center
			margin 5px 0
			&:not(:last-child)
				margin-right 15px
			//+ li
			//	margin-left 15px
			> *
				margin-left 5px
			input:not([type="checkbox"]):not([type="radio"]):not([type="file"]):not([size])
			textarea
				width 300px
			code
				display block
				white-space pre
				color black
				padding 5px
				border 1px solid darkgray
			&.as-column
				flex-direction column
				align-items flex-start
			&.wider
				input:not([type="checkbox"]):not([type="radio"]):not([type="file"]):not([size])
				textarea
					width 500px
			&.wide
				input:not([type="checkbox"]):not([type="radio"]):not([type="file"]):not([size])
				textarea
					width 750px
			&.full-width
				display block
				flex 1
				input:not([type="checkbox"]):not([type="radio"]):not([type="file"]):not([size])
				textarea
					width 90%
			&.pic-line
				align-items flex-start
			&:not(.full-width)
				input:not([type="checkbox"]):not([type="radio"]):not([type="file"])[size],textarea[cols]
					width auto
			.existing-pic-holder
				margin-bottom 0
			.hidden
				display none
			.didynamic-checkboxes
			.didynamic-static-checkboxes
				cursor pointer
				> span
					border-bottom 1px dotted

