.diadminform-row
    position relative
    display flex
    border 1px solid #CFCFCF
    border-radius 8px
    background-color #FAFAFA
    margin 0 20px 3px 20px
    padding 8px 10px
    min-height 18px
    clearing-after()
    body[data-skin="entrine"] &
        border 0
        border-radius 0
        background-color transparent
        margin-bottom 20px
        padding 0
    &:nth-of-type(odd)
        @media screen and (max-width: 767px)
            background #eee
    @media screen and (max-width: 767px)
        margin-left 0
        margin-right 0
        margin-bottom 0
        border-radius 0
        border-left 0
        border-right 0
        border-bottom 0
        display block
        padding-left 5px
    &:last-of-type
        @media screen and (max-width: 767px)
            border-bottom 1px solid #CFCFCF
    .title
    .value
        font-family $classicFont
        font-size 12px
        vertical-align top
        body[data-skin="entrine"] &
            font-family $entrineFont
    .title
        width 200px
        padding 3px 10px 0 0
        box-sizing border-box
        body[data-skin="entrine"] &
            width 140px
            text-align right
            position relative
            padding-top 18px
            @media screen and (max-width: 767px)
                width auto
                text-align left
                padding-left 12px
        ^[0][data-purpose="notes"] ^[-1..1]
            body[data-skin="entrine"] &
                padding-top 0
        @media screen and (max-width: 767px)
            display block
            float none
            width auto
            padding-left 7px
            padding-bottom 7px
            font-weight bolder
    .value
        flex 1
        display flex
        ^[0][data-type="pic"] ^[1..-1]
        ^[0][data-type="file"] ^[1..-1]
            display block
            //flex-wrap wrap
        ^[0][data-type="checkboxes"] ^[1..-1]
        ^[0][data-purpose="notes"] ^[1..-1]
            flex-direction column
        ^[0][data-type="password"] ^[1..-1]
            flex-wrap wrap
        body[data-skin="entrine"] &
            @media screen and (max-width: 767px)
                margin-left 12px
                margin-right 12px
        @media screen and (max-width: 767px)
            width auto
            margin-left 7px
        ^[0][data-type="checkboxes"] ^[1..-1]
            .tags-grid
                .tags-toggle
                    margin-bottom 10px
                    > span
                        font-size 12px
                        cursor pointer
                        border-radius 5px
                        padding 3px 5px
                        background-color #ddd
                        color $classicColorLink
                        transition .3s
                        &:hover
                            background-color #e7e7e7
                            color $classicColorLinkHover
                        & + span
                            margin-left 15px
            .new-tag
                margin-top 10px
                input[type="text"]
                    width 100%
        .calendar-toggle
            margin-left 5px
            body[data-skin="entrine"] &
                margin-left 15px
                @media screen and (max-width: 767px)
                    margin-left 5px
        .date-sep
        .time-sep
            align-self center
            body[data-skin="entrine"] &
                margin 0 5px
                font-weight bold
                top 25px
                @media screen and (max-width: 767px)
                    top 15px
        .file-input-wrapper
            position relative
            width 50%
            background-color $classicColorLink
            transition .3s
            cursor pointer
            border-radius 8px
            body[data-skin="entrine"] &
                background-color $entrineColorTextMenuSelected
                border-radius 0
            @media screen and (max-width: 767px)
                width 100%
            &:before
                content attr(data-caption)
                position absolute
                //white-space nowrap
                ellipsis()
                cursor pointer
                color white
                max-width 90%
                left 50%
                top 50%
                transform translate(-50%, -50%)
            &:hover
                background-color $classicColorLinkHover
                body[data-skin="entrine"] &
                    background-color $entrineColorBgDark
            &.selected
                background-color green
            input
                &[type="file"]
                    position relative
                    opacity 0
                    z-index 20
                    box-sizing border-box
                    width 100%
                    cursor pointer
                    padding 15px
        input:not([type="checkbox"]):not([type="radio"]):not([size])
        textarea
            width 100%
            flex 1
            box-sizing border-box
        input:not([type="checkbox"]):not([type="radio"])
        textarea
            body[data-skin="entrine"] &
                padding 15px
        > input[type="checkbox"]
        > input[type="radio"]
            body[data-skin="entrine"] &
                margin-top 20px
        &.ui-sortable
            .ui-state-highlight
                min-height 50px
                margin 0 0 5px 0
                border-radius 10px
            &.sortable-active-container
                .existing-pic-holder
                    img
                        max-height 50px
                        width auto
        .static
            flex 1
            max-width 100%
            //overflow-x auto
            body[data-skin="entrine"] &
                padding-top 18px
                //min-height 40px
        .static-text
            padding 8px
            border-radius 8px
            background #ddd
            body[data-skin="entrine"] &
                margin -18px 0 0 0
                padding 10px
                border-radius 0
        .wysiwyg
        .textarea
            margin 5px 0
            display flex
            flex 1
        .wysiwyg
            textarea
                height 450px
        .error
            background red
            color white
            padding 3px 5px
            border-radius 5px
            align-self center
            &:empty
                display none
        select
            max-width 100%
            body[data-skin="entrine"] &
                margin-top 15px
    &[data-type="dynamic"]
    &[data-type="dynamic_pics"]
    &[data-type="dynamic_files"]
        flex-wrap wrap
        .title
            flex-basis 100%
            padding-bottom 10px
            body[data-skin="entrine"] &
                text-align left
                font-weight bold
        .value
            border-left 3px solid $classicColorLink
            padding 5px 0 5px 10px
            display block
            body[data-skin="entrine"] &
                padding 5px 0 5px 20px
                border-color $entrineColorTextMenuSelected
            .file-input-wrapper
                display inline-block
                width auto
    &[data-field="table"]
        .value
            .model-info
                margin-left 20px
                i
                    background red
                    color white
                    display inline-block
                    padding 2px 5px
                    border-radius 5px
                    font-style normal
    [data-table="admin_tasks"] &[data-field="log"]
        .title
            display none

.admin-form-uploading-area
    background rgba(25, 187, 251, .5)
    padding 15px
    text-align center
    border-radius 8px
    font-size 16px
    position relative
    margin-right 10px
    input[type="file"]
        position absolute
        display block
        opacity 0
        left 0
        top 0
        width 100%
        height 100%
        cursor pointer
    &.is-drag-over
        background #dddddd

.admin-form-uploading-area-preview
    list-style none
    background rgba(251, 248, 87, 0.5)
    padding 10px
    text-align center
    border-radius 8px 8px 0 0
    position relative
    margin-top 10px
    margin-right 10px
    margin-bottom 0
    > li
        display inline-block
        vertical-align top
        margin-left 10px
        margin-right 10px
        > img
            max-width 120px
            max-height 120px

.admin-form-uploading-area-submit
    background rgba(251, 194, 73, .5)
    border-radius 0 0 8px 8px
    position relative
    margin-right 10px
    text-align center
    padding 10px

.diadminform-separator
    margin 10px 20px
    border-top 1px dotted #000

.diadminform_tabs
    > ul
        display flex
        flex-wrap wrap
        margin 0 20px 5px 20px
        list-style none
        padding 0
        body[data-skin="entrine"] &
            margin 0 20px
            @media screen and (max-width: 767px)
                margin 0 12px 5px
        @media screen and (max-width: 767px)
            margin-left 12px
        li
            margin 0 5px 5px 0
            body[data-skin="entrine"] &
                margin-right 20px
                margin-bottom 20px
                @media screen and (max-width: 767px)
                    margin-right 12px
                    margin-bottom 12px
            &:last-child
                margin-right 0
            > a
                display block
                position relative
                padding 8px 10px
                font-size 12px
                font-weight bold
                background-color white
                border 1px solid #cfcfcf
                border-radius 8px
                z-index 5
                box-sizing border-box
                > div
                    vertical-align middle
                    display inline-block
                    width 100%
                body[data-skin="entrine"] &
                    display flex
                    justify-content center
                    align-items center
                    background-color $entrineColorBgLightGray
                    color $entrineColorText
                    border 0
                    border-radius 0
                    font-weight 600
                    text-align center
                    min-width $entrineBaseWidth
                    max-width ($entrineBaseWidth * 2) + 20px
                    height $entrineBaseHeight
                    padding 5px
                    @media screen and (max-width: 767px)
                        min-width 0
                        max-width none
                        width auto
                        height 40px
                        padding-top 0
                        padding-bottom 0
                &:hover
                &.selected
                    background-color #EDF0F4
                    body[data-skin="entrine"] &
                        background-color $entrineColorBgLightGray
                        box-shadow inset 0 -2px 0 0 $entrineColorTextMenuSelected

.existing-pic-holder
    display inline-block
    max-width 100%
    border 1px solid #CFCFCF
    padding 10px
    background white
    text-align center
    margin-bottom 10px
    border-radius 8px
    box-sizing border-box
    .container
        max-width 100%
        display inline-block
        position relative
        box-shadow 0 0 6px 0 rgba(0,0,0,.6)
        overflow hidden
        &:not(.no-zoom-feature)
            @media screen and (min-width: 768px)
                cursor zoom-in
        &:not(.no-bottom-margin)
            margin-bottom 10px
        > img
            max-width 100%
            height auto
        &.img-full-size
            @media screen and (min-width: 768px)
                overflow-x auto
                &:not(.no-zoom-feature)
                    cursor zoom-out
                > img
                    max-width none
        &.embed
            font-size 0
            line-height 0
            background url(/_core/i/admin/background-for-transparent.gif) center center repeat
        &.text
            font-size 1.5em
            padding .5em 1.5em
    a
        &.link
            display block
            background #eee
            padding 5px 10px
            border-radius 5px 5px 0 0
            border-bottom 1px dotted #999
    .info
        margin 0
        padding 5px 10px
        background #ddd
        &:not(:last-child)
            border-bottom 1px dotted #999
        &:last-child
            border-radius 0 0 5px 5px
        .rotate-block
        .watermark-block
            display inline-block
            margin-left 30px
            > a
                display inline-block
                font-size 24px
                font-weight bold
                padding 0 10px
                box-shadow 0 0 4px rgba(0,0,0,.5)
                &:not(:last-child)
                    margin-right 15px

ul.table-edit-log
    list-style none
    margin 0
    padding 0
    > li
        border-radius 5px
        padding 5px
        box-shadow 0 0 5px rgba(0,0,0,.7)
        &:nth-child(even)
            background-color #eee
        &:not(:last-child)
            margin-bottom 10px
        > .author
            padding 10px
            border-bottom 1px dotted #777
        > table
            width 100%
            border-collapse collapse
            td
                width 33.3%
                padding 5px 10px
                border 1px solid #aaa
                &:nth-child(2)
                    width auto

@-moz-document url-prefix()
    .diadminform-row
        .value
            width 90%
    .existing-pic-holder
        max-width 90%
