.diadminform-json-wrapper {
  flex 1

  display grid
  grid-template-columns 200px 1fr
  gap var(--form-row-gap)
  align-items center

  @media $mqTabletLandscape {
    grid-template-columns 140px 1fr
  }

  @media $mqTablet {
    grid-template-columns 1fr
  }

  .diadminform-json-title {
  }

  .diadminform-json-input {
  }
}
