body {
    margin 0
    padding 0
    font-family var(--font-primary)
    font-size var(--text-size)
    font-weight normal
    color var(--color-text)
    background var(--color-background)
}

table
    border-collapse collapse
    &.tags-table
        border 0
        border-collapse collapse
        margin 0
        td
            padding-right 20px
            vertical-align top
            border 0
    &.banners_stat
        padding 0
        border-collapse collapse
        width 94%
        margin 20px 3% 0 3%
        td
            border 1px solid #000
            padding 5px
            background #eee
            text-align right
            font-size 14px
            &.b
                text-align left
        tr
            &.n2
                td
                    background #ddd
        th
            border 1px solid #000
            padding 5px
            background #D4D0C8
            text-align center
            font-size 14px
        table
            &.sub_stat
                margin 0
                padding 0
                border-collapse collapse
                width 100%
    &.item-colors-table
        border-collapse collapse
        td
            text-align center
            border 1px solid #ccc
            padding 5px
            margin-right 5px
            label
                cursor pointer
    &.cover_pic_select
        margin 5px 0
        border-collapse collapse
        display none
        td
            vertical-align top
            text-align left
            border 0
            padding 0 20px 10px 0
            .cover-note
                position absolute
                text-align center
                padding-top 10px
        img
            border 4px solid transparent
            padding 5px
            background none
    &.cover_video_select
        img
            padding 0 !important
        a
            &.cover_pic_selected
                img
                    background none !important
                    padding 0 !important
    &.general-data
        margin 0
        padding 0
        td
        th
            border 1px solid #cfcfcf
            padding 5px 10px
        th
            font-weight bold
        thead
            td
                font-weight bold
        tbody
            td
                text-align left
    // todo: why doesn't this work?
    &.cross-highlight
        $highlightColor = #ffc
        overflow hidden
        tr
            &:hover
                td
                th
                    background-color $highlightColor
        tr
            td
            th
                position relative
                outline 0
                &:hover
                    &:before
                        content ''
                        position absolute
                        background-color $highlightColor
                        left 0
                        top -5000px
                        height 10000px
                        width 100%
                        z-index -1

a
    text-decoration none
    color var(--color-link)
    transition .3s
    &:hover
        text-decoration none
        color var(--color-link-hover)
    &.video-tn
        display block
        position absolute
        z-index 99
    &.cover_pic_selected
        img
            border 4px solid #f00
            padding 5px
            background #f77
    &.comments-close
        display block
        position absolute
        border 1px solid #D4D0C8
        background #333
        color #fff
        left 0
        top 0
        z-index 10
        margin-left 1100px
        width 20px
        height 20px
        text-align center
        font-weight bold
        font-size 17px
        &:hover
            background #B4B0A8

p
    margin 9px 0

form
    margin 0

img
    border 0
    &.video
        position absolute
        z-index 98
        margin -4px 0 0 -4px

u
    cursor pointer
    text-decoration underline
    &:hover
        text-decoration none

._up
    text-transform uppercase !important

._lo
    text-transform lowercase !important

.dt
    font-weight normal !important
    font-size 11px !important
    text-align center !important

.lite
    font-weight normal !important
    font-size 11px !important

.bold
    font-weight bold

.italic
    font-style italic

.regular
    font-weight normal !important

.center
    text-align center

.border-rounded
    border-radius 8px

.display-none
    display none !important

.hidden
    visibility hidden !important

.no-padding
    padding 0 !important
    
.ml-5 {
    margin-left 5px
}

.mr-5 {
    margin-right 5px
}

[data-loading="1"]
[data-loading="true"] {
    animation 1s ease opacityPulse infinite
}

.close
    display block
    float right
    margin 5px 5px 0 0
    width 18px
    height 18px
    background url(/_core/i/admin/buttons/close.png) 0 0 no-repeat
    transition none
    cursor pointer
    {$entrineSkin} &
        background-image embedurl('../../../i/admin/skin/entrine/list/del.svg')
        background-size 18px 18px
        background-position center center
        width 36px
        height 36px
        transition .3s
    &:hover
        background-position 0 -18px
        {$entrineSkin} &
            background-position center center
            background-color $entrineColorTextMenuSelected

.simple-button
    display inline-block
    position relative
    border-radius 3px
    background-color #ddd
    padding 5px 10px
    transition .3s
    &:hover
        background-color #e7e7e7
    {$entrineSkin} &
        border-radius 2px
        color white
        background-color $entrineColorTextMenuSelected
        padding 11px 14px 11px 38px
        &:before
            content ''
            position absolute
            width 12px
            height 12px
            left 12px
            top 50%
            transform translateY(-50%)
            background embedurl('../../../i/admin/skin/entrine/plus.svg')
            background-size cover
        &:hover
            background-color $entrineColorBgDark

.admin-layout
    padding-bottom var(--footer-height)
    > .nav
        position absolute
        padding-bottom var(--footer-height)
        width var(--menu-width)
        top var(--menu-top, 0px)
        box-sizing border-box
        {$entrineSkin} &
            @media $mqTablet
                padding-bottom 0
        @media $mqTablet
            display none
            z-index 100
            box-shadow 0 0 10px black
            padding-bottom 0
    &.nav-shown
        > .nav
            @media $mqTablet {
                display block
            }
    > .content
        background white
        position relative
        margin-left var(--menu-width)
        padding-bottom 20px
        {$entrineSkin} &
            padding-bottom 40px
            @media $mqTablet
                margin-left 0
        @media $mqTablet
            margin-left 0
        &:after
            content ''
            display block
            clear both
        > .caption
            position var(--caption-position)
            box-sizing border-box
            display flex
            align-items center
            height var(--caption-height)
            padding-left var(--content-padding-hor)
            padding-right var(--content-padding-hor)
            border-bottom var(--caption-border-bottom)
            margin-bottom var(--caption-margin-bottom)
            line-height var(--caption-line-height)
            font-family var(--caption-font-family)
            font-size var(--caption-font-size)
            font-weight var(--caption-font-weight)
            background var(--caption-background-color)
            color var(--caption-text-color)
            {$entrineSkin} &
                @media $mqTablet
                    padding-left 12px
                    padding-right 12px
            @media $mqTablet
                padding 5px 12px
                height auto
                line-height 20px
            b
                display flex
                text-transform var(--caption-text-transform)
                > i
                    font-style normal
                > s
                    text-decoration none
                > a
                    {$entrineSkin} &
                        color $entrineColorTextMenuSelected
                        text-decoration underline
                > *
                    align-self center
                    &:not(:last-child)
                        margin-right 5px
            .buttons
                padding 0 0 0 30px
                a
                    position relative
                    display inline
    > .logo
        position absolute
        background var(--logo-background)
        font-family Tahoma, Verdana, Segoe, sans-serif
        width var(--logo-width)
        height var(--logo-height)
        box-sizing border-box
        padding-left $classicStandardPadding
        {$entrineSkin} &
            font-family $entrineFont
            padding-left 27px
            @media $mqTablet
                padding-left 50px
            @media $mqPhone
                width auto
        @media $mqTablet
            text-align left
            padding-left 50px
            cursor pointer
            z-index 101
        @media $mqPhone
            width 0
        //    position relative
        //    width auto
        //    margin-right 101px
        > b
            display block
            color white
            font-size 30px
            line-height $classicBaseHeight
            font-weight normal
            {$entrineSkin} &
                font-weight bold
                font-size 16px
                color white
                line-height $entrineBaseHeight
            @media $mqPhone
                display none
        > .menu-toggle
            position absolute
            display none
            width 24px
            height 24px
            top 50%
            left 12px
            margin-top (@height / -2)
            background embedurl('../../../i/admin/menu/simple-hamburger-white.svg') center center no-repeat
            background-size contain
            @media $mqTablet
                display block

.footer
    position fixed
    display flex
    align-items flex-start
    bottom 0
    left 0
    right 0
    height var(--footer-height)
    border-top 1px solid #B1B1B1
    color black
    font-size 11px
    background-color #ddd
    //line-height 40px
    {$entrineSkin} &
        background white
        color $entrineColorBgDarker
        font-size 10px
        height $entrineFooterHeight
    .copyright
        display flex
        flex-direction column
        justify-content center
        box-sizing border-box
        width var(--menu-width)
        height var(--floating-submit-height)
        border-right 1px solid #B1B1B1
        text-align center
        line-height 150%
        @media $mqPhone
            display none
    .console-container
        flex 1
        background-color inherit
        border-top 5px solid #ddd
        border-bottom 5px solid #ddd
        padding 0 5px 0 40px
        box-sizing border-box
        height var(--floating-submit-height)
        transition .5s
        overflow hidden
        {$entrineSkin} &
            border-top-color white
            border-top-width 6px
            border-bottom-color white
            border-bottom-width 6px
        &.highlighted
            background-color #ffe
            border-top-color #ffe
            border-bottom-color #ffe
        .console
            > div
                line-height 15px
                {$entrineSkin} &
                    line-height 16px
                > i
                    font-style normal
                    margin-right 15px
                    display inline-block
                    color #777
        .up
        .down
            cursor pointer
            position absolute
            display block
            text-align center
            width 15px
            height 15px
            line-height 15px
            transition all .5s ease
            background #eee
            //margin-top -1px
            margin-left -30px
            &:hover
                box-shadow 0 0 2px black
        .down
            margin-top 15px
        &:not(.navy-needed)
            .up, .down
                display none

.error-wrapper {
    padding 0 $classicStandardPadding
}

.mce-tinymce
    button
        border-radius 0

table.banners_stat td.sel, table.banners_stat th.sel
    background #ffd

.caution
    padding 10px
    color #000
    font-size 12px
    font-weight bold
    border 1px solid #f00
    background #fee
    margin 15px
    text-align center

.color-popup
    position absolute
    padding 10px
    background #fff
    border 1px solid #777
    display none

.buttons_block
    text-align left
    padding 25px 0 25px $classicStandardPadding
    border-top 1px solid #CCCCCC
    border-bottom 1px solid #CCCCCC
    margin 50px 0

.details_block
    background-color #D4D0C8
    padding 5px
    > table
        > tbody
            > tr
                > td
                    vertical-align top

.admin_help_link
    img
        border none
        float right
        margin 0 5px 0 0

.bg_eee
    background #eee

.expand-collapse-block
    position absolute
    right 0
    padding 10px 25px 0 10px
    @media $mqTablet
        padding-top 7px
        padding-right 10px
    u
        display inline-block
        width 18px
        height 18px
        cursor pointer
        margin-left 5px
    u[data-action="expand"]
        background url(/_core/i/admin/buttons/key_plus.gif) 0 0 no-repeat
    u[data-action="collapse"]
        background url(/_core/i/admin/buttons/key_minus.gif) 0 0 no-repeat

iframe
    &.comments-iframe
        display block
        position absolute
        border 2px dashed #333
        left 0
        top 0
        z-index 9
        margin-left 200px
        width 900px
        height 300px
        overflow auto

#type_id_err_bottom_div
    background #f00
    color #fff
    padding 3px 10px
    position absolute
    margin 0 20px
    display none
    width 200px

.navy
    margin 0 $classicStandardPadding
    text-align center
    {$entrineSkin} &
        text-align left
    a
    b
    span
        display inline-block
        padding 3px 8px
        font-size 12px
        margin 0 5px 5px 0
        border 1px dotted #aaa
        {$entrineSkin} &
            border 0
            padding 10px 15px
            background #f9f9f9
            margin 0 15px 5px 0
    a
        background white
        &:hover
            background #eee
            border 1px solid #aaa
        {$entrineSkin} &
            background #eee
            &:hover
                background #ddd

.cb_level_any
    margin 5px 5px 5px 0

.cb_level0
    font-weight bold

.cb_level1
    padding-left 10px

.cb_level2
    padding-left 20px

.cb_level3
    padding-left 30px

.evil
    background #fcc
    padding 3px

.show-actions-log
    cursor pointer
    text-decoration underline

.diaf_checkboxes_block
    display none
    position absolute
    border 1px solid #777
    border-radius 5px
    padding 10px
    margin-top 3px
    background #fff
    button
        margin 5px 10px

.notice
    background #dd7 !important

.payment-success
.payment-insuccess
    color white
    padding 0 4px
    border-radius 4px
    &:hover
        color white

.payment-success
    background #0a0

.payment-insuccess
    background #a00

.multicolumn
    overflow hidden
    margin 0
    padding 0
    li
        line-height 1.5em
        padding 0
        margin 0
        float left
        display inline

.double
    li
        width 50%

.triple
    li
        width 33.333%

.quadro
    li
        width 25%

.penta
    li
        width 20%

.hexta
    li
        width 16.666%

div.code
    padding 10px
    border-radius 5px
    border 1px solid #ccc
    background #eee

code, samp, kbd
    font-family "Courier New", Courier, monospace, sans-serif
    text-align left
    color #555

pre
    padding 0.1em 0.5em 0.3em 0.7em
    border-left 11px solid #ccc
    margin 0 0 0 0.3em
    overflow auto
    // width 93%
    code
        line-height 1.6em
        font-size 13px
    &.code
        background #ffe
        code
            color black

.dyn-cell
    float left
    background #fff
    margin-right 10px
    &:nth-child(even)
    &:last-child
        margin-right 0
        background #ff0 !important

.clear
    clear both

[data-purpose="color-view"]
    display inline-block
    width 30px
    height 30px
    cursor pointer
    box-shadow 0 0 10px rgba(0, 0, 0, 1)
    vertical-align middle

[data-purpose="color-picker"]
    display none

.dynamic-row
    [data-purpose="color-picker"]
        position absolute

.admin-task-priority
    display inline-block
    border-radius 50%
    width 12px
    height 12px
    margin-right 6px
    float left
    &.p1
        background-color #4E7235
    &.p10
        background-color #72C43A
    &.p20
        background-color #FFFF00
    &.p30
        background-color #EB2121

ins
    color green
    background #dfd
    text-decoration none

del
    color red
    background #fdd
    text-decoration none

.freeze
    filter blur(2px)
    &:after
        content ''
        position absolute
        left 0
        top 0
        right 0
        bottom 0
        background url(/_core/i/ani/loading.gif) center center no-repeat
        background-size 20% 20%
