.admin-layout > .head {
  display flex
  margin-left var(--menu-width)

  @media $mqPhone {
    margin-left 50px
  }
}

.site-title {
  flex 1
  color white
  height $classicBaseHeight
  line-height $classicBaseHeight
  font-size 24px
  font-family Arial, Helvetica, sans-serif
  padding-left $classicStandardPadding
  padding-right 10px
  background-color var(--site-title-background)
  ellipsis()

  @media $mqTabletLandscape {
    max-width 100%
  }

  {$entrineSkin} & {
    height $entrineBaseHeight
    line-height $entrineBaseHeight
    font-family $entrineFont
    font-size 20px
    font-weight 400
  }
}

.head-links {
  display flex
  align-items center
  font-size 12px

  @media $mqTablet {
    width 100px
  }

  {$v2024Skin} &
  {$classicSkin} & {
    flex-wrap wrap
    gap 1px
    border-left 1px solid transparent

    @media $mqNoTabletLandscape {
      width 281px
    }
  }

  {$entrineSkin} & {
    background $entrineColorBgDark

    @media $mqNoTabletLandscape {
      gap 12px
    }

    @media $mqTablet {
      flex-direction column
      align-items flex-end
    }
  }
}

.head-auth-info {
  flex 1
  display flex
  justify-content center
  align-items center
  text-align center
  box-sizing border-box

  @media $mqTablet {
    order -1
  }

  {$v2024Skin} &
  {$classicSkin} & {
    flex-basis 90%
    height 50%
    background #777
    color #ffd
    padding 5px

    @media $mqTablet {
      height 23px
    }
  }

  {$entrineSkin} & {
    order -1
    color white

    &:before {
      background-image embedurl('../../../i/admin/skin/entrine/user.svg')
    }

    @media $mqTablet {
      display none
    }
  }

  .login {
    white-space nowrap
  }

  .level {
    line-height 1.5
    border-radius 4px
    margin-left 8px
    max-width 120px
    ellipsis()

    @media $mqTablet {
      display none
    }

    {$v2024Skin} &
    {$classicSkin} & {
      font-size 10px
      background #555
      padding 1px 4px
    }

    {$entrineSkin} & {
      font-size 12px
      color white
      background $entrineColorBgDarker
      padding 7px

      @media $mqMDPI {
        display none
      }
    }
  }
}

.head-href {
  flex 1
  display flex
  justify-content center
  align-items center
  color white
  transition .5s
  box-sizing border-box

  &:hover {
    background #777
    color white
  }

  {$v2024Skin} &
  {$classicSkin} & {
    font-family Arial, Helvetica, sans-serif
    flex-basis 40%
    background #555
    padding 5px
    height 50%

    @media $mqTablet {
      flex-basis 90%
      height 23px
    }
  }

  {$entrineSkin} & {
     white-space nowrap

     @media $mqHiDPI {
       font-size 14px
     }

     @media $mqTablet {
       height 50%
       line-height 1.2
     }

     &:hover {
       background $entrineColorBgDarker
     }
  }

  &.home-link {
    {$entrineSkin} & {
      color $entrineColorTextMenuSelected

      &:before {
        background-image embedurl('../../../i/admin/skin/entrine/globe.svg')
      }
    }
  }

  &.logout {
    {$entrineSkin} & {
      &:before {
        background-image embedurl('../../../i/admin/skin/entrine/log-out.svg')
      }
    }
  }
}

.button-with-icon {
  {$entrineSkin} & {
    position relative
    padding-left 32px
    padding-right 16px
    font-family $entrineFont
    font-size 16px
    font-weight 400

    @media $mqTabletLandscape {
      font-size 12px
    }

    @media $mqTablet {
      padding-left 16px
    }

    &:before {
      content ''
      position absolute
      width 18px
      height 18px
      left 4px
      top 50%
      transform translateY(-50%)
      background-size cover

      @media $mqTablet {
        display none
      }
    }
  }
}
