.head {
  display flex
  margin-left var(--menu-width)

  @media $mqPhone {
    margin-left 50px
  }
}

.site-title {
  flex 1
  background #333
  color white
  height $classicBaseHeight
  line-height $classicBaseHeight
  font-size 24px
  font-family Arial, Helvetica, sans-serif
  padding-left $classicStandardPadding
  padding-right 10px

  @media $mqTabletLandscape {
    max-width 100%
    ellipsis()
  }

  {$entrineSkin} & {
    height $entrineBaseHeight
    line-height $entrineBaseHeight
    font-family $entrineFont
    background $entrineColorBgDark
    font-size 20px
    font-weight 400
    margin-left var(--menu-width)
    margin-right calc(var(--menu-width) * 3)
    ellipsis()
    @media screen and (max-width: 1470px) {
      margin-right $entrineMenuWidthNarrow1 * 3
    }
    @media $mqTabletLandscape {
      margin-right $entrineMenuWidthNarrow2 * 3
    }
    @media $mqTablet {
      margin-right 101px
      padding-left 15px
    }
    @media $mqPhone {
      margin-left 0
      margin-right 0
      font-size 16px
    }
  }
}

.head-links {
  display flex
  flex-wrap wrap
  gap 1px
  width 281px
  border-left 1px solid transparent
  font-size 12px

  @media $mqTablet {
    width 100px
  }
}

.head-auth-info {
  flex-basis 90%
  flex-grow 1
  display flex
  justify-content center
  align-items center
  background #777
  padding 5px
  text-align center
  color #ffd
  box-sizing border-box
  height 50%

  @media $mqTablet {
    order -1
    height 23px
  }

  {$entrineSkin} & {
    width var(--menu-width)
    right calc(var(--menu-width) * 2)
    line-height $entrineBaseHeight
    height $entrineBaseHeight
    background $entrineColorBgDark
    color white
    padding 0
    font-size 16px
    font-weight 400

    @media screen and (max-width: 1470px) {
      width $entrineMenuWidthNarrow1
      right $entrineMenuWidthNarrow1 * 2
    }

    @media $mqTabletLandscape {
      width $entrineMenuWidthNarrow2
      right $entrineMenuWidthNarrow2 * 2
    }

    @media $mqTablet {
      width 100px
      right 0
      line-height 23px
      height 23px
      text-align left
      font-size 13px
      padding-left 5px
    }
  }

  .login {
    display inline-block
    position relative

    {$entrineSkin} & {
      &:before {
        content ''
        position absolute
        width 18px
        height 18px
        left (-14px - @width)
        top 50%
        transform translateY(-50%)
        background embedurl('../../../i/admin/skin/entrine/user.svg')
        background-size cover
        @media $mqTablet {
          display none
        }
      }
    }
  }

  .level {
    font-size 10px
    line-height 15px
    background #555
    padding 1px 4px
    border-radius 4px
    position relative
    margin-left 4px

    @media $mqTablet {
      display none
    }

    {$entrineSkin} & {
      font-size 12px
      color white
      background $entrineColorBgDarker
      padding 7px
      max-width 100px
    }
  }
}

.head-href {
  flex-basis 40%
  flex-grow 1
  display flex
  justify-content center
  align-items center
  height 50% // 35px
  padding 5px
  background #555
  color white
  font-family Arial, Helvetica, sans-serif
  transition background .5s linear, color .5s linear
  box-sizing border-box

  &:hover {
    background #777
    color white
  }

  @media $mqTablet {
    flex-basis 90%
    height 23px
  }

  {$entrineSkin} & {
     font-family $entrineFont
     font-weight 400
     width var(--menu-width)
     line-height $entrineBaseHeight
     height $entrineBaseHeight
     font-size 16px
     background $entrineColorBgDark

     @media screen and (max-width: 1470px) {
       width $entrineMenuWidthNarrow1
       font-size 14px
     }

     @media $mqTabletLandscape {
       width $entrineMenuWidthNarrow2
     }

     @media $mqTablet {
       width 100px
       line-height 24px
       height 24px
       padding-left 5px
       font-size 13px
       text-align left
     }

     &:hover {
       background $entrineColorBgDarker
     }

     > span {
       display inline-block
       height $entrineBaseHeight
     }
  }

  > span {
    position relative
  }

  &.go-to-face {
    {$entrineSkin} & {
      right var(--menu-width)
      color $entrineColorTextMenuSelected
      @media screen and (max-width: 1470px) {
        right $entrineMenuWidthNarrow1
      }
      @media $mqTabletLandscape {
        right $entrineMenuWidthNarrow2
      }
      @media $mqTablet {
        right 0
        color white
      }
    }

    > span {
      {$entrineSkin} & {
        @media $mqTablet {
          font-size 12px
        }

        &:before {
          content ''
          position absolute
          width 18px
          height 18px
          left (-10px - @width)
          top 50%
          transform translateY(-50%)
          background embedurl('../../../i/admin/skin/entrine/globe.svg')
          background-size cover
          @media $mqTablet {
            display none
          }
        }
      }
    }
  }

  &.logout {
    > span {
      {$entrineSkin} & {
        &:before {
          content ''
          position absolute
          width 18px
          height 18px
          left (-12px - @width)
          top 50%
          transform translateY(-50%)
          background embedurl('../../../i/admin/skin/entrine/log-out.svg')
          background-size cover
          @media $mqTablet {
            display none
          }
        }
      }
    }
  }
}
