.head {
  display flex
  margin-left var(--menu-width)

  @media $mqPhone {
    margin-left 50px
  }
}

.site-title {
  flex 1
  color white
  height $classicBaseHeight
  line-height $classicBaseHeight
  font-size 24px
  font-family Arial, Helvetica, sans-serif
  padding-left $classicStandardPadding
  padding-right 10px
  ellipsis()

  @media $mqTabletLandscape {
    max-width 100%
  }

  {$classicSkin} & {
    background #333
  }

  {$entrineSkin} & {
    height $entrineBaseHeight
    line-height $entrineBaseHeight
    font-family $entrineFont
    background $entrineColorBgDark
    font-size 20px
    font-weight 400
  }
}

.head-links {
  display flex
  font-size 12px

  @media $mqTablet {
    width 100px
  }

  {$classicSkin} & {
    flex-wrap wrap
    width 281px
    gap 1px
    border-left 1px solid transparent
  }

  {$entrineSkin} & {
    background $entrineColorBgDark
  }
}

.head-auth-info {
  flex 1
  display flex
  justify-content center
  align-items center
  padding 5px
  text-align center
  color #ffd
  box-sizing border-box
  height 50%

  @media $mqTablet {
    order -1
    height 23px
  }

  {$classicSkin} & {
    flex-basis 90%
    background #777
  }

  {$entrineSkin} & {
    order -1
    height $entrineBaseHeight
    color white

    @media $mqTablet {
      width 100px
      right 0
      line-height 23px
      height 23px
      text-align left
      font-size 13px
      padding-left 5px
    }
  }

  .login {
    display inline-block
    position relative

    {$entrineSkin} & {
      white-space nowrap

      &:before {
        background embedurl('../../../i/admin/skin/entrine/user.svg')
      }
    }
  }

  .level {
    font-size 10px
    line-height 15px
    background #555
    padding 1px 4px
    border-radius 4px
    position relative
    margin-left 8px

    @media $mqTablet {
      display none
    }

    {$entrineSkin} & {
      font-size 12px
      color white
      background $entrineColorBgDarker
      padding 7px

      @media $mqMDPI {
        display none
      }
    }
  }
}

.head-href {
  flex 1
  display flex
  justify-content center
  align-items center
  height 50% // 35px
  padding 5px
  color white
  font-family Arial, Helvetica, sans-serif
  transition background .5s linear, color .5s linear
  box-sizing border-box

  &:hover {
    background #777
    color white
  }

  @media $mqTablet {
    flex-basis 90%
    height 23px
  }

  {$classicSkin} & {
    flex-basis 40%
    background #555
  }

  {$entrineSkin} & {
     line-height $entrineBaseHeight
     height $entrineBaseHeight
     white-space nowrap

     @media screen and (max-width: 1470px) {
       font-size 14px
     }

     @media $mqTablet {
       width 100px
       line-height 24px
       height 24px
       padding-left 5px
       font-size 13px
       text-align left
     }

     &:hover {
       background $entrineColorBgDarker
     }

     > span {
       display inline-block
       height $entrineBaseHeight
     }
  }

  > span {
    position relative
  }

  &.go-to-face {
    {$entrineSkin} & {
      color $entrineColorTextMenuSelected

      @media $mqTablet {
        color white
      }
    }

    > span {
      {$entrineSkin} & {
        &:before {
          background embedurl('../../../i/admin/skin/entrine/globe.svg')
        }
      }
    }
  }

  &.logout {
    > span {
      {$entrineSkin} & {
        &:before {
          background embedurl('../../../i/admin/skin/entrine/log-out.svg')
        }
      }
    }
  }
}

.button-with-icon {
  span:first-child {
    {$entrineSkin} & {
      padding-left 32px
      font-family $entrineFont
      font-size 16px
      font-weight 400

      @media $mqTablet {
        font-size 12px
      }

      &:before {
        content ''
        position absolute
        width 18px
        height 18px
        left 4px
        top 50%
        transform translateY(-50%)
        background-size cover

        @media $mqTablet {
          display none
        }
      }
    }
  }
}
