input[type="text"]
input[type="email"]
input[type="tel"]
input[type="number"]
input[type="password"]
input[type="url"]
textarea
  font-family $classicFont
  font-size 14px
  font-weight normal
  background-color white
  color black
  border 1px solid $classicColorInputBorder
  padding 2px 5px
  border-radius $classicBorderRadiusInput
  align-self center
  {$entrineSkin} &
    font-family $entrineFont
    border-radius $entrineBorderRadiusInput
    padding 5px
    border-color $entrineColorInputBorder
    @media screen and (max-width: 767px)
      padding 5px

select
  font-family $classicFont
  font-size 14px
  align-self center
  border-color $classicColorInputBorder
  {$entrineSkin} &
    //padding 15px
    border-color $entrineColorInputBorder
  //@media screen and (max-width: 767px)
  //    padding 5px
  &[size="1"]
    {$entrineSkin} &
      height 48px
      @media screen and (max-width: 767px)
        height 42px

textarea
  padding-top 5px
  padding-bottom 5px
  align-self stretch
  {$entrineSkin} &
    padding 15px
    @media screen and (max-width: 767px)
      padding 5px
