$menuPanelHeight = 40px
$buttonSize = 26px
$gapSize = (($menuPanelHeight - $buttonSize) / 2)

.menu-panel
    display var(--menu-panel-display, flex)
    align-items center
    justify-content center
    background white
    padding 0 $gapSize
    border-bottom 1px solid #CCCCCC
    border-right #ccc solid 1px
    height ($menuPanelHeight - 1px)

    {$entrineSkin} & {
        background $entrineColorBgDarker
        color white
        height 48px
        font-weight 600
        border 0
    }

    > span
        display block
        flex-shrink 0
        position relative
        font-size 16px
        cursor pointer
        width $buttonSize
        height $buttonSize
        line-height ($buttonSize - 2px)
        border-radius 4px
        border 1px solid #ccc
        box-sizing border-box
        text-align center
        margin-left $gapSize
        {$entrineSkin} &
            border-radius 0
    .search
        flex 1
        position relative
        z-index 1
        height $buttonSize
        input
            display block
            position absolute
            width 100%
            font-size 13px
            border-radius 4px
            border 1px solid #ccc
            height $buttonSize
            padding 4px
            outline none
            box-sizing border-box
            {$entrineSkin} &
                border-radius 0
                border 0
                font-family $entrineFont
                padding-left 7px
                padding-right 7px
    &.searching
        .search
            flex 1
        > span
            position absolute
            opacity 0

ul.left-menu
    ul-norm()
    border-right #ccc solid 1px
    > li
        > b
            display block
            position relative
            padding 7px 7px 7px 20px
            background-color var(--menu-text-background)
            border-bottom 1px solid #cfcfcf
            font-family var(--menu-font-family)
            font-weight var(--menu-font-weight)
            font-size var(--menu-font-size)
            line-height var(--menu-line-height)
            color var(--menu-text-color)
            cursor pointer
            text-transform var(--menu-text-transform)
            box-sizing border-box
            transition .3s
            {$entrineSkin} &
                border-bottom 0
                padding-left 27px
                padding-right 35px
                &:after
                    content ''
                    position absolute
                    triangle(6px, 8px, 'right', $entrineColorTextMenuSelected)
                    right 20px
                    top 50%
                    margin-top -3px
                    transition .5s
            &:hover {
                color var(--menu-text-color-hover, var(--menu-text-color))
                background-color var(--menu-text-background-hover, var(--menu-text-background))
            }
        > ul
            ul-norm()
            display none
            border-bottom 1px solid #cfcfcf
            width 199px
            {$entrineSkin} &
                border-bottom 0
                width auto
            > li
                border-bottom 0 solid #edf0f4
                font normal 11px / 11px Verdana, sans-serif
                color #0059B2
                {$entrineSkin} &
                    font normal 12px / 16px Montserrat, sans-serif
                    color $entrineColorTextMenu
                a
                    text-decoration none
                    color #7600AD
                    display block
                    background #ffffff
                    padding 7px 7px 7px 28px
                    {$entrineSkin} &
                        color $entrineColorTextMenu
                        background $entrineColorBgDarker
                        text-transform uppercase
                        padding-left 34px
                    &:hover
                        color #FF0000
                        background #f7f7f7
                        {$entrineSkin} &
                            color $entrineColorTextMenuSelected
                            background $entrineColorBgDarker
        &[data-state="1"]
            > b
                {$entrineSkin} &
                    //background-color $entrineColorBgDarker
                    //color $entrineColorTextMenuSelected
                    &:after
                        transform rotate(90deg)
        &[data-sub-menu-state="1"]
            > ul
                display block
