div.dinicetable_div
    margin 0 24px 20px 24px
    @media screen and (max-width: 767px)
        margin-left 0
        margin-right 0
        max-width 100%
        overflow-x auto


table.dinicetable
    border-collapse collapse
    tr
        &.level1
            td
                font-weight bold
                body[data-skin="entrine"] &
                    font-weight 500
        &.level2
            td
                background #dfe0e5
                font-weight bold
                padding-left 20px
        &.level3
            td
                color #333
                background #dddde7
                padding-left 35px
        &.level4
            td
                color #333
                font-size 11px
                background #dfdfda
                padding-left 50px
        &.level5
            td
                color #333
                font-size 11px
                background #dfdfda
                padding-left 65px
        &.level6
            td
                color #333
                font-size 10px
                background #eee
                padding-left 80px
        td
            border 0
            border-right 1px white solid
            border-bottom 1px white solid
            font-family Tahoma, sans-serif
            color black
            font-size 12px
            background #dfdfd0
            font-weight normal
            padding 0 5px
            vertical-align middle
            height 28px
            body[data-skin="entrine"] &
                font-family $entrineFont
                background none
                height auto
                padding 5px
                color $entrineColorText
                border 1px $entrineColorTableBorder solid
            &:not([data-field="title"])
                padding-left 5px
            &.id
                position relative
                font-size 11px //!important
                background-color #d4d0c8 //!important
                font-weight normal
                text-align center
                white-space nowrap
                padding 0 5px
                body[data-skin="entrine"] &
                    background-color none //!important
                    font-weight 500
                    font-size 12px //!important
                    padding 7px
            &.href
                text-align center
                padding 0 5px
                body[data-skin="entrine"] &
                    a
                        display inline-block
                        width 18px
                        height 18px
                        background-image url(/assets/images/_core/admin/skin/entrine/list/share.svg)
                        background-size cover
                        img
                            display none
            &.btn
                border-right 0
                padding 0
                body[data-skin="entrine"] &
                    border-left 0
                    background $entrineColorBgLightGray
                    &:not(:last-child)
                        border-right-color $entrineColorBgLightGray
                    .nicetable-button
                        width 48px
                        height 48px
                        background none
                        background-size 18px 18px
                        background-repeat no-repeat
                        background-position center center
                        &:not([data-action])
                            cursor default
                        &[data-action]:hover
                            background-color $entrineColorTextMenuSelected
                        &[data-action="edit"]
                            background-image url(/assets/images/_core/admin/skin/entrine/list/edit.svg)
                        &[data-action="create"]
                            background-image url(/assets/images/_core/admin/skin/entrine/list/create.svg)
                        &[data-action="del"]
                            background-image url(/assets/images/_core/admin/skin/entrine/list/del.svg)
                        &[data-action="active"][data-state="0"]
                        &[data-action="visible"][data-state="0"]
                            background-image url(/assets/images/_core/admin/skin/entrine/list/visible-0.svg)
                        &[data-action="active"][data-state="1"]
                        &[data-action="visible"][data-state="1"]
                            background-image url(/assets/images/_core/admin/skin/entrine/list/visible-1.svg)
                        &[data-action="up"]
                        &[data-action="down"]
                        &[data-action="play"]
                        &[data-action="rollback"]
                            background-image url(/assets/images/_core/admin/skin/entrine/list/up.svg)
                        &[data-action="down"]
                        &[data-action="rollback"]
                            transform rotate(180deg)
                a
                    display block
                    line-height 2px
            .anchor
                display block
                position absolute
                top 0
            &.regular
                font-weight normal
            &.lite
                font-weight normal
                font-size 11px
            &.dt
                font-weight normal
                font-size 11px
                text-align center
            &.color-tn
                text-align center
                > div
                    display inline-block
                    width 50px
                    height 50px
                    border-radius 50%
                    background transparent center center no-repeat
                    background-size cover
                    &:not(:first-child)
                        margin-left 10px
            .tree
                display inline-block
                width 10px
                height 10px
                cursor pointer
                &.expand
                    background url(/_core/i/admin/buttons/key_plus_small.gif)
                &.collapse
                    background url(/_core/i/admin/buttons/key_minus_small.gif)
        &:not(.no-hover):not(.delete):not(.highlight):not(.headline)
            &:hover
                > td
                    background-color #f3f3f3
        &.delete
            > td
                background-color #fbb
        &.highlight
            > td
                background-color #ffd
        &.del
            > td
                background-color #faa
        &.collapsed
            display none
        &.headline
            td
                background-color white
                font-weight bold
                padding 0 5px 5px 5px
                text-align center
                body[data-skin="entrine"] &
                    font-weight 500
                    text-align left
                    text-transform uppercase
                    padding 18px 0
                    border-color transparent
                    border-bottom-color $entrineColorTableBorder
            &:hover
                > td
                    background-color white
                    body[data-skin="entrine"] &
                        background-color none

.dinicetable_div
    .parent-anchor
        position absolute
        cursor pointer
        font-size 24px
        font-weight bold
        color white
        background #7601AC
        left 0
        right 0
        top 0
        bottom 0
        text-align center
        vertical-align middle
        display table-cell
        &:hover
            background red
    > .outer-anchor
        display inline-block
        width 30px
        height 32px
        position relative

.nicetable-text-over-btn
    position absolute
    background rgba(255,0,0,.7)
    color white
    font-weight normal
    font-size 11px
    padding 2px
    border-radius 8px
