@import 'nib'

@import '../../stylus/helpers.styl'

@import 'parts/_vars.styl'
@import 'parts/skin/classic/variables.styl'

@import 'parts/skin/entrine/variables.styl'
@import 'parts/skin/entrine/fonts.styl'

@import 'parts/skin/v2024/variables.styl'

@import 'parts/ani.styl'
@import 'parts/buttons.styl'
@import 'parts/inputs.styl'
@import 'parts/general.styl'
@import 'parts/menu.styl'
@import 'parts/form.styl'
@import 'parts/form-json.styl'
@import 'parts/head.styl'
@import 'parts/nice-table.styl'
@import 'parts/tabs.styl'
@import 'parts/actions-log.styl'
@import 'parts/dynamic.styl'
@import 'parts/grid.styl'
@import 'parts/filters.styl'
@import 'parts/comments.styl'
@import 'parts/configuration.styl'
@import 'parts/dump.styl'
@import 'parts/list.styl'
