{% extends 'admin/login/index.html.twig' %}

{% block before_body %}<div class="login-outer-wrapper">{% endblock %}

{% block after_body %}
    <div class="picture">

    </div>

</div>{% endblock %}
