/**
  * adding a sprite
  */
sprite(sprite, horizontal = '', vertical = '', fn = "sprite", path = "/assets/images/")
    width sprite[2]
    height sprite[3]
    background url(path + fn + ".png?" + $sprite-timestamp) sprite[0]sprite[1]no-repeat;

    if horizontal is center
        margin-left (@width / -2)
        left 50%
    else if horizontal is left
        left 0
    else if horizontal is right
        right 0
    else if horizontal and horizontal > 0
        left horizontal
    else if horizontal and horizontal < 0
        right - horizontal

    if vertical is center
        margin-top (@height / -2)
        top 50%
    else if vertical is top
        top 0
    else if vertical is bottom
        bottom 0
    else if vertical and vertical > 0
        top vertical
    else if vertical and vertical < 0
        bottom - vertical

fs(size = 12)
    ptValue = size
    pxValue = size // * 1.6
    remValue = pxValue / 10
    font-size unit(pxValue, 'px')
    font-size unit(remValue, 'rem')

stripe(even = #fff, odd = #eee)
    tr
        background-color odd
        &.even
        &:nth-child(even)
            background-color even

bg-gradient(origin, colors...)
    firstColor = colors[0]

    colors = join(', ', colors)
    colors = unquote(colors)

    background-color firstColor
    background-image linear-gradient(origin, colors)

placeholder()
    &::-webkit-input-placeholder
        {block}
    &:-moz-placeholder
        {block}
    &::-moz-placeholder
        {block}
    &:-ms-input-placeholder
        {block}

ellipsis($nowrap = true)
    text-overflow ellipsis
    overflow hidden
    if $nowrap
        white-space nowrap

ul-norm()
    list-style none
    margin 0
    padding 0

columns(x, gap = null)
    -webkit-columns x
    -moz-columnns x
    columns x
    if gap
        -webkit-column-gap gap
        -moz-columnn-gap gap
        column-gap gap

clearing-after(what = both)
    $what = what
    zoom 1
    &:after
        content ''
        display block
        height 0
        line-height 0
        font-size 0
        clear $what

wide-bg(color = #f8f8f9)
    &:before
        content ''
        position absolute
        z-index -1
        background color
        top 0
        bottom 0
        left -100%
        right -100%

triangle(width = 10px, height = 10px, direction = 'bottom', color = #000)
    // Base triangle styles
    width 0
    height 0
    background 0
    border-style solid

    // Styles for each direction
    directions = {
		top: {
			border-width: 0 (width * .5) height (width * .5),
			border-color: transparent transparent color transparent
		},
		topRight: {
			border-width: 0 width height 0,
			border-color: transparent color transparent transparent
		},
		right: {
			border-width: (height * .5) 0 (height *.5) width,
			border-color: transparent transparent transparent color
		},
		bottomRight: {
			border-width: 0 0 height width,
			border-color: transparent transparent color transparent
		},
		bottom: {
			border-width: height (width * .5) 0 (width * .5),
			border-color: color transparent transparent transparent
		},
		bottomLeft: {
			border-width: width 0 0 height,
			border-color: transparent transparent transparent color
		},
		left: {
			border-width: (height * .5) width (height * .5) 0,
			border-color: transparent color transparent transparent
		},
		topLeft: {
			border-width: height width 0 0,
			border-color: color transparent transparent transparent
		}
	}

    // Mixin styles for passed direction
    styles = directions[direction]
    {styles}