$admin-buttons-timestamp = 1488189751920
$admin-buttons-accepted-0 = -28px 0px 30px 30px
$admin-buttons-accepted-1 = -178px -120px 30px 30px
$admin-buttons-activated-0 = -58px 0px 30px 30px
$admin-buttons-activated-1 = 0px -30px 30px 30px
$admin-buttons-active-0 = -30px -30px 30px 30px
$admin-buttons-active-1 = -88px 0px 30px 30px
$admin-buttons-banner-0 = -88px -30px 30px 30px
$admin-buttons-banner-1 = 0px -60px 30px 30px
$admin-buttons-comments-0 = -30px -60px 30px 30px
$admin-buttons-comments-1 = -60px -60px 30px 30px
$admin-buttons-create = -118px 0px 30px 30px
$admin-buttons-del = -118px -30px 30px 30px
$admin-buttons-down = -118px -60px 30px 30px
$admin-buttons-edit = 0px -90px 30px 30px
$admin-buttons-empty = -30px -90px 30px 30px
$admin-buttons-en_visible-0 = -60px -90px 30px 30px
$admin-buttons-en_visible-1 = -90px -90px 30px 30px
$admin-buttons-hit-0 = -148px 0px 30px 30px
$admin-buttons-hit-1 = -148px -30px 30px 30px
$admin-buttons-hot-0 = -148px -60px 30px 30px
$admin-buttons-hot-1 = -148px -90px 30px 30px
$admin-buttons-mail = 0px -120px 30px 30px
$admin-buttons-manage = -30px -120px 30px 30px
$admin-buttons-moderated-0 = -60px -120px 30px 30px
$admin-buttons-moderated-1 = -90px -120px 30px 30px
$admin-buttons-new-0 = -120px -120px 30px 30px
$admin-buttons-new-1 = -178px 0px 30px 30px
$admin-buttons-opened-0 = -178px -30px 30px 30px
$admin-buttons-opened-1 = -178px -60px 30px 30px
$admin-buttons-pic = -178px -90px 30px 30px
$admin-buttons-play = 0px 0px 28px 30px
$admin-buttons-price = 0px -150px 30px 30px
$admin-buttons-print = -30px -150px 30px 30px
$admin-buttons-recommended-0 = -60px -150px 30px 30px
$admin-buttons-recommended-1 = -90px -150px 30px 30px
$admin-buttons-reply-0 = -120px -150px 30px 30px
$admin-buttons-reply-1 = -150px -150px 30px 30px
$admin-buttons-rollback = -208px 0px 29px 30px
$admin-buttons-to_show_content-0 = 0px -180px 30px 30px
$admin-buttons-to_show_content-1 = -30px -180px 30px 30px
$admin-buttons-top-0 = -60px -180px 30px 30px
$admin-buttons-top-1 = -90px -180px 30px 30px
$admin-buttons-up = -120px -180px 30px 30px
$admin-buttons-video = -150px -180px 30px 30px
$admin-buttons-visible-0 = -180px -180px 30px 30px
$admin-buttons-visible-1 = -237px 0px 30px 30px
$admin-buttons-visible_2nd_bottom-0 = -237px -30px 30px 30px
$admin-buttons-visible_2nd_bottom-1 = -237px -60px 30px 30px
$admin-buttons-visible_bottom-0 = -237px -90px 30px 30px
$admin-buttons-visible_bottom-1 = -237px -120px 30px 30px
$admin-buttons-visible_left-0 = -237px -150px 30px 30px
$admin-buttons-visible_left-1 = -237px -180px 30px 30px
$admin-buttons-visible_logged_in-0 = 0px -210px 30px 30px
$admin-buttons-visible_logged_in-1 = -30px -210px 30px 30px
$admin-buttons-visible_right-0 = -60px -210px 30px 30px
$admin-buttons-visible_right-1 = -90px -210px 30px 30px
$admin-buttons-visible_top-0 = -120px -210px 30px 30px
$admin-buttons-visible_top-1 = -150px -210px 30px 30px
$admin-buttons-winner-0 = -180px -210px 30px 30px
$admin-buttons-winner-1 = -210px -210px 30px 30px

.nicetable-button
  sprite $admin-buttons-empty
  &[data-action="accepted"][data-state="0"]
    sprite $admin-buttons-accepted-0
  &[data-action="accepted"][data-state="1"]
    sprite $admin-buttons-accepted-1
  &[data-action="activated"][data-state="0"]
    sprite $admin-buttons-activated-0
  &[data-action="activated"][data-state="1"]
    sprite $admin-buttons-activated-1
  &[data-action="active"][data-state="0"]
  &[data-action="active"][data-state="false"]
    sprite $admin-buttons-active-0
  &[data-action="active"][data-state="1"]
  &[data-action="active"][data-state="true"]
    sprite $admin-buttons-active-1
  &[data-action="banner"][data-state="0"]
    sprite $admin-buttons-banner-0
  &[data-action="banner"][data-state="1"]
    sprite $admin-buttons-banner-1
  &[data-action="comments"][data-state="0"]
    sprite $admin-buttons-comments-0
  &[data-action="comments"][data-state="1"]
    sprite $admin-buttons-comments-1
  &[data-action="create"]
    sprite $admin-buttons-create
  &[data-action="del"]
    sprite $admin-buttons-del
  &[data-action="down"]
    sprite $admin-buttons-down
  &[data-action="edit"]
    sprite $admin-buttons-edit
  &[data-action="empty"]
    sprite $admin-buttons-empty
  &[data-action="en_visible"][data-state="0"]
  &[data-action="en_visible"][data-state="false"]
    sprite $admin-buttons-en_visible-0
  &[data-action="en_visible"][data-state="1"]
  &[data-action="en_visible"][data-state="true"]
    sprite $admin-buttons-en_visible-1
  &[data-action="hit"][data-state="0"]
    sprite $admin-buttons-hit-0
  &[data-action="hit"][data-state="1"]
    sprite $admin-buttons-hit-1
  &[data-action="hot"][data-state="0"]
    sprite $admin-buttons-hot-0
  &[data-action="hot"][data-state="1"]
    sprite $admin-buttons-hot-1
  &[data-action="mail"]
    sprite $admin-buttons-mail
  &[data-action="manage"]
    sprite $admin-buttons-manage
  &[data-action="moderated"][data-state="0"]
    sprite $admin-buttons-moderated-0
  &[data-action="moderated"][data-state="1"]
    sprite $admin-buttons-moderated-1
  &[data-action="new"][data-state="0"]
    sprite $admin-buttons-new-0
  &[data-action="new"][data-state="1"]
    sprite $admin-buttons-new-1
  &[data-action="opened"][data-state="0"]
    sprite $admin-buttons-opened-0
  &[data-action="opened"][data-state="1"]
    sprite $admin-buttons-opened-1
  &[data-action="pic"]
    sprite $admin-buttons-pic
  &[data-action="play"]
    sprite $admin-buttons-play
  &[data-action="price"]
    sprite $admin-buttons-price
  &[data-action="print"]
    sprite $admin-buttons-print
  &[data-action="recommended"][data-state="0"]
    sprite $admin-buttons-recommended-0
  &[data-action="recommended"][data-state="1"]
    sprite $admin-buttons-recommended-1
  &[data-action="reply"][data-state="0"]
    sprite $admin-buttons-reply-0
  &[data-action="reply"][data-state="1"]
    sprite $admin-buttons-reply-1
  &[data-action="rollback"]
    sprite $admin-buttons-rollback
  &[data-action="to_show_content"][data-state="0"]
    sprite $admin-buttons-to_show_content-0
  &[data-action="to_show_content"][data-state="1"]
    sprite $admin-buttons-to_show_content-1
  &[data-action="top"][data-state="0"]
    sprite $admin-buttons-top-0
  &[data-action="top"][data-state="1"]
    sprite $admin-buttons-top-1
  &[data-action="up"]
    sprite $admin-buttons-up
  &[data-action="video"]
    sprite $admin-buttons-video
  &[data-action="visible"][data-state="0"]
  &[data-action="visible"][data-state="false"]
    sprite $admin-buttons-visible-0
  &[data-action="visible"][data-state="1"]
  &[data-action="visible"][data-state="true"]
    sprite $admin-buttons-visible-1
  &[data-action="visible_2nd_bottom"][data-state="0"]
    sprite $admin-buttons-visible_2nd_bottom-0
  &[data-action="visible_2nd_bottom"][data-state="1"]
    sprite $admin-buttons-visible_2nd_bottom-1
  &[data-action="visible_bottom"][data-state="0"]
    sprite $admin-buttons-visible_bottom-0
  &[data-action="visible_bottom"][data-state="1"]
    sprite $admin-buttons-visible_bottom-1
  &[data-action="visible_left"][data-state="0"]
    sprite $admin-buttons-visible_left-0
  &[data-action="visible_left"][data-state="1"]
    sprite $admin-buttons-visible_left-1
  &[data-action="visible_logged_in"][data-state="0"]
    sprite $admin-buttons-visible_logged_in-0
  &[data-action="visible_logged_in"][data-state="1"]
    sprite $admin-buttons-visible_logged_in-1
  &[data-action="visible_right"][data-state="0"]
    sprite $admin-buttons-visible_right-0
  &[data-action="visible_right"][data-state="1"]
    sprite $admin-buttons-visible_right-1
  &[data-action="visible_top"][data-state="0"]
    sprite $admin-buttons-visible_top-0
  &[data-action="visible_top"][data-state="1"]
    sprite $admin-buttons-visible_top-1
  &[data-action="winner"][data-state="0"]
    sprite $admin-buttons-winner-0
  &[data-action="winner"][data-state="1"]
    sprite $admin-buttons-winner-1
